openapi: 3.2.0
info:
  title: Airalo Partner REST API/Endpoints/Notifications/Notification…
  description: Airalo Partner API (v2) — assembled verbatim from the per-endpoint OpenAPI 3.0.1 fragments Airalo publishes on its Apidog-hosted developer portal (each endpoint page carries an 'OpenAPI Specification' block). Fragments were merged path-by-path; nothing was authored.
  version: 1.0.0
servers:
- url: https://partners-api.airalo.com
  description: Prod Env
security: []
tags:
- name: 'REST API/Endpoints/Notifications/Notification: Async orders'
paths:
  /v2/notifications/opt-in:
    post:
      summary: Opt in
      deprecated: false
      description: ':::info

        Email notifications for Async orders are not supported.

        :::


        This feature allows you to subscribe to `Async orders` notifications. You will receive the order''s data payload on your specified webhook url. It will also include Airalo''s signature header which ensures maximum security it was us who send you this HTTP request (check https://partners-doc.airalo.com/#827cb567-db17-484a-a484-5ca10b7fa41b)


        **Parameters**


        - `type`: "async_orders"


        - `webhook_url`: "https://example.com" - in case of notification to be

        delivered via your webhook implementation, provide your webhook

        implementation url.

        *NOTE*: The endpoint must support HEAD and POST HTTP methods.


        The response will include the `contact_point` field, which reflects webhook URL you provided when opting in to the webhook.'
      tags:
      - 'REST API/Endpoints/Notifications/Notification: Async orders'
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - async_orders
                  - webhook_low_data
                  - webhook_credit_limit
                webhook_url:
                  type: string
                levels:
                  type: array
                  items:
                    type: integer
                  description: Required for type webhook_credit_limit only (credit-limit thresholds, e.g. [50,70,80,90]).
              required:
              - type
              - webhook_url
              x-apidog-orders:
              - type
              - webhook_url
            examples:
              'Notification: Async orders':
                value:
                  type: async_orders
                  webhook_url: https://example.com
              'Notification: Low data':
                value:
                  type: webhook_low_data
                  webhook_url: https://example.com
              'Notification: Credit limit':
                value:
                  type: webhook_credit_limit
                  webhook_url: https://example.com
                  levels:
                  - 50
                  - 70
                  - 80
                  - 90
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      notification:
                        type: object
                        properties:
                          type:
                            type: string
                          contact_point:
                            type: string
                        required:
                        - type
                        - contact_point
                        x-apidog-orders:
                        - type
                        - contact_point
                    required:
                    - notification
                    x-apidog-orders:
                    - notification
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Get the webhook based notification on async orders
        x-200:Get the email-based notification on low data:
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      notification:
                        type: object
                        properties:
                          type:
                            type: string
                          contact_point:
                            type: string
                          language:
                            type: string
                        required:
                        - type
                        - contact_point
                        - language
                        x-apidog-orders:
                        - type
                        - contact_point
                        - language
                    required:
                    - notification
                    x-apidog-orders:
                    - notification
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Get the email-based notification on low data
        x-200:Receive notification via email:
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      notification:
                        type: object
                        properties:
                          type:
                            type: string
                          contact_point:
                            type: string
                          language:
                            type: string
                          levels:
                            type: array
                            items:
                              type: integer
                        required:
                        - type
                        - contact_point
                        - language
                        - levels
                        x-apidog-orders:
                        - type
                        - contact_point
                        - language
                        - levels
                    required:
                    - notification
                    x-apidog-orders:
                    - notification
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Receive notification via email
      security: []
      x-apidog-folder: 'REST API/Endpoints/Notifications/Notification: Async orders'
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-11883038-run
      x-source-page: https://developers.partners.airalo.com/opt-in-11883038e0
      x-variant-pages:
      - page: https://developers.partners.airalo.com/opt-in-11883039e0
        summary: Opt in
        tag: 'REST API/Endpoints/Notifications/Notification: Low data'
      - page: https://developers.partners.airalo.com/opt-in-11883042e0
        summary: Opt in
        tag: 'REST API/Endpoints/Notifications/Notification: Credit limit'
      operationId: postV2NotificationsOptIn
      x-operation-id-source: derived
x-assembled-from:
- https://developers.partners.airalo.com/cancel-future-orders-14459873e0
- https://developers.partners.airalo.com/deprecated-get-compatible-device-list-11883037e0
- https://developers.partners.airalo.com/esim-voucher-11883065e0
- https://developers.partners.airalo.com/future-orders-14455445e0
- https://developers.partners.airalo.com/future-orders-21307288e0
- https://developers.partners.airalo.com/get-balance-11883045e0
- https://developers.partners.airalo.com/get-compatible-device-lite-list-19504054e0
- https://developers.partners.airalo.com/get-esim-11883028e0
- https://developers.partners.airalo.com/get-esim-package-history-11883032e0
- https://developers.partners.airalo.com/get-esims-list-11883027e0
- https://developers.partners.airalo.com/get-installation-instructions-11883029e0
- https://developers.partners.airalo.com/get-notification-details-11883041e0
- https://developers.partners.airalo.com/get-notification-details-20383022e0
- https://developers.partners.airalo.com/get-notification-details-20384820e0
- https://developers.partners.airalo.com/get-order-11883023e0
- https://developers.partners.airalo.com/get-order-list-11883022e0
- https://developers.partners.airalo.com/get-packages-11883036e0
- https://developers.partners.airalo.com/get-product-information-pib-38810259e0
- https://developers.partners.airalo.com/get-top-up-package-list-11883031e0
- https://developers.partners.airalo.com/get-usage-data-text-voice-11883030e0
- https://developers.partners.airalo.com/opt-in-11883038e0
- https://developers.partners.airalo.com/opt-in-11883039e0
- https://developers.partners.airalo.com/opt-in-11883042e0
- https://developers.partners.airalo.com/opt-out-11883040e0
- https://developers.partners.airalo.com/opt-out-20383023e0
- https://developers.partners.airalo.com/opt-out-20384821e0
- https://developers.partners.airalo.com/request-access-token-11883021e0
- https://developers.partners.airalo.com/request-refund-14583565e0
- https://developers.partners.airalo.com/submit-order-11883024e0
- https://developers.partners.airalo.com/submit-order-async-11883025e0
- https://developers.partners.airalo.com/submit-top-up-order-11883026e0
- https://developers.partners.airalo.com/update-esim-brand-11883033e0
- https://developers.partners.airalo.com/webhook-simulator-11883044e0
- https://developers.partners.airalo.com/step-1-request-access-token-11883017e0
- https://developers.partners.airalo.com/step-2-get-packages-11883018e0
- https://developers.partners.airalo.com/step-3-submit-order-11883019e0
- https://developers.partners.airalo.com/step-4-get-installation-instructions-11883020e0
