openapi: 3.2.0
info:
  title: Airalo Partner REST API/Endpoints/Browse packages API
  description: Airalo Partner API (v2) — assembled verbatim from the per-endpoint OpenAPI 3.0.1 fragments Airalo publishes on its Apidog-hosted developer portal (each endpoint page carries an 'OpenAPI Specification' block). Fragments were merged path-by-path; nothing was authored.
  version: 1.0.0
servers:
- url: https://partners-api.airalo.com
  description: Prod Env
security: []
tags:
- name: REST API/Endpoints/Browse packages
paths:
  /v2/packages:
    get:
      summary: Get packages
      deprecated: false
      description: ':::highlight blue 💡

        This endpoint comes with a Rate Limit: **80 requests per minute to fetch packages** per unique authentication token.

        :::


        Retrieve a list of local and global eSIM packages available through the Airalo Partners API. Local packages cover a single country, while global packages span multiple countries and regions. This endpoint helps you synchronize eSIM plans/packages with your system, ensuring newly introduced packages are available to your clients and out-of-stock packages are handled properly.

        ## Features

        - **Package Types**: Supports standard data packages and the new "Voice and Text" packages.

        - **Filtering**: Filter results by operator type or country code to tailor the package list to your needs.

        - **Pagination**: Adjust pagination settings to retrieve results in manageable chunks.

        - **Limit**: Set the `limit` parameter to a high value (e.g., 1,000) to fetch all packages in a single request without using pagination.

        - **Include Top-Up**: Use the `include:top-up` parameter to fetch eSIM packages along with their associated top-up packages.

        - **Multi language support**: Pass on the `Accept-language` header to get your response translated in the language you prefer. All languages available in Sandbox and production mode are found in our FAQs.


        ## Multi-Currency

        This endpoint provides pricing information in multiple currencies for both net prices and recommended retail prices. All currency conversion rates are updated once daily at 00:00 UTC.


        ## Minimum price per country


        Each country entry in the `data[]` array includes a `min_price` object, giving the lowest available price for that destination. Use it to render a "from" price on destination cards (e.g. "France — from €4.13") without pulling the full package list and calculating the minimum yourself.


        Example:


        ```json

        "min_price": {

        "recommended_retail_price": { "USD": 4.50, "EUR": 4.13 },

        "net_price": { "USD": 2.25, "EUR": 2.06 }

        }

        ```


        ## Step-by-step implementation:

        To keep your catalog up to date, including stock availability, new packages, and pricing, while avoiding performance or rate-limit issues, it’s important to run an hourly backend sync.

        Below, we provide a step-by-step guide to help you successfully sync your packages:


        ### Hourly Sync

        - Set up a background job via cron, worker, or cloud scheduler that calls GET /v2/packages **once every hour**.

        - Include the required authentication header: `Authorization: Bearer ` (Refer to Request access token)


        ### Single Full Fetch (No Limit Param)

        - Call the endpoint without a limit parameter to retrieve the full catalogue (~3,200 packages) in a single response. This eliminates pagination and keeps the sync logic straightforward.

        - Alternatively, you can implement pagination or split sync runs (e.g. alternating between eSIMs and top-ups).


        ### Rate-Limit Context

        - The API allows up to 40 requests per minute. One request per hour is far below this threshold and safe to run continuously.


        ### Snapshot-Based Processing

        - Store the returned JSON as a complete snapshot (file, object storage, or database).

        - Upsert packages using `package_id` as the unique key.

        - Remove any packages missing from the latest snapshot.

        - Sync operators, coverage, pricing, and metadata fields.


        ## Throtlling policy

        Identify unlimited packages with usage restrictions by checking the `is_fair_usage_policy` boolean. If enabled, the `fair_usage_policy` field contains a string describing the specific limitations.

        Example:

        ```

        "is_fair_usage_policy": true,

        "fair_usage_policy": "Lower speed rate of 1 Mbps after 3 GB usage per day."

        ```'
      tags:
      - REST API/Endpoints/Browse packages
      parameters:
      - name: filter[type]
        in: query
        description: "Optional. A string to filter packages by operator type. Possible values are \"local\" and \"global\".\n  \nIf the filter is set to \"global,\" the output will include only global and regional eSims. Global and regional packages do not use the \"country_code\" field, which will be empty. The \"type\" field in the operator object within the response will be set to \"global.\" A package is considered worldwide if its \"slug\" field is set to \"world\" and regional if \"slug\" contains a region name, for example, \"europe\" or \"Africa\".\n  \nIf the filter is set to \"local,\" the response will contain only country-specific packages. To get the list of packages for a single country, you can use it in combination with filter[country] parameter. The \"type\" field in the operator object of the response will indicate a \"local\" type.\n  \nIf no filter is set, the response includes all eSIM types (local, regional, and global) and may return 200+ packages. Results are paginated, retrieve all pages to return the full list."
        required: false
        example: global
        schema:
          type: string
      - name: filter[country]
        in: query
        description: Optional. A string to filter packages by country code. Examples include US, DE, GB, IT, and UA.
        required: false
        example: TR
        schema:
          type: string
      - name: limit
        in: query
        description: Optional. An integer specifying how many items will be returned on each page.
        required: false
        example: ''
        schema:
          type: string
      - name: page
        in: query
        description: "Optional. An integer specifying the pagination's current page. \nIf the page is set to 2 or beyond, the response will have different format and contain an object representing the country's index in the list of packages."
        required: false
        example: '1'
        schema:
          type: string
      - name: include
        in: query
        description: Optional. Valid value is topup. Includes topup packages to the response
        required: false
        example: topup
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: ''
        required: false
        example: en
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
            examples: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  pricing:
                    type: object
                    properties:
                      model:
                        type: string
                      discount_percentage:
                        type: integer
                    required:
                    - model
                    - discount_percentage
                    x-apidog-orders:
                    - model
                    - discount_percentage
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        country_code:
                          type: string
                        title:
                          type: string
                        image:
                          type: object
                          properties:
                            width:
                              type: integer
                            height:
                              type: integer
                            url:
                              type: string
                          required:
                          - width
                          - height
                          - url
                          x-apidog-orders:
                          - width
                          - height
                          - url
                        min_price:
                          type: object
                          properties:
                            net_price:
                              type: object
                              properties:
                                AUD:
                                  type: number
                                BRL:
                                  type: number
                                GBP:
                                  type: number
                                CAD:
                                  type: number
                                AED:
                                  type: number
                                EUR:
                                  type: number
                                INR:
                                  type: number
                                IDR:
                                  type: integer
                                ILS:
                                  type: number
                                JPY:
                                  type: integer
                                KWD:
                                  type: number
                                MYR:
                                  type: number
                                MXN:
                                  type: number
                                SGD:
                                  type: number
                                ZAR:
                                  type: number
                                KRW:
                                  type: integer
                                USD:
                                  type: number
                                VND:
                                  type: integer
                              required:
                              - AUD
                              - BRL
                              - GBP
                              - CAD
                              - AED
                              - EUR
                              - INR
                              - IDR
                              - ILS
                              - JPY
                              - KWD
                              - MYR
                              - MXN
                              - SGD
                              - ZAR
                              - KRW
                              - USD
                              - VND
                              x-apidog-orders:
                              - AUD
                              - BRL
                              - GBP
                              - CAD
                              - AED
                              - EUR
                              - INR
                              - IDR
                              - ILS
                              - JPY
                              - KWD
                              - MYR
                              - MXN
                              - SGD
                              - ZAR
                              - KRW
                              - USD
                              - VND
                            recommended_retail_price:
                              type: object
                              properties:
                                AUD:
                                  type: number
                                BRL:
                                  type: number
                                GBP:
                                  type: integer
                                CAD:
                                  type: number
                                AED:
                                  type: number
                                EUR:
                                  type: number
                                INR:
                                  type: number
                                IDR:
                                  type: integer
                                ILS:
                                  type: number
                                JPY:
                                  type: integer
                                KWD:
                                  type: number
                                MYR:
                                  type: number
                                MXN:
                                  type: number
                                SGD:
                                  type: number
                                ZAR:
                                  type: number
                                KRW:
                                  type: integer
                                USD:
                                  type: integer
                                VND:
                                  type: integer
                              required:
                              - AUD
                              - BRL
                              - GBP
                              - CAD
                              - AED
                              - EUR
                              - INR
                              - IDR
                              - ILS
                              - JPY
                              - KWD
                              - MYR
                              - MXN
                              - SGD
                              - ZAR
                              - KRW
                              - USD
                              - VND
                              x-apidog-orders:
                              - AUD
                              - BRL
                              - GBP
                              - CAD
                              - AED
                              - EUR
                              - INR
                              - IDR
                              - ILS
                              - JPY
                              - KWD
                              - MYR
                              - MXN
                              - SGD
                              - ZAR
                              - KRW
                              - USD
                              - VND
                          required:
                          - net_price
                          - recommended_retail_price
                          x-apidog-orders:
                          - net_price
                          - recommended_retail_price
                        operators:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              title:
                                type: string
                              type:
                                type: string
                              plan_type:
                                type: string
                              is_roaming:
                                type: boolean
                              rechargeability:
                                type: boolean
                              packages:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                    price:
                                      type: integer
                                    net_price:
                                      type: number
                                    amount:
                                      type: integer
                                    day:
                                      type: integer
                                    is_unlimited:
                                      type: boolean
                                    title:
                                      type: string
                                    data:
                                      type: string
                                    voice:
                                      type: 'null'
                                    text:
                                      type: 'null'
                                    prices:
                                      type: object
                                      properties:
                                        net_price:
                                          type: object
                                          properties:
                                            USD:
                                              type: number
                                            EUR:
                                              type: number
                                            GBP:
                                              type: number
                                            AUD:
                                              type: number
                                            BRL:
                                              type: number
                                            CAD:
                                              type: number
                                            AED:
                                              type: number
                                            INR:
                                              type: number
                                            IDR:
                                              type: integer
                                            ILS:
                                              type: number
                                            JPY:
                                              type: integer
                                            MYR:
                                              type: number
                                            MXN:
                                              type: number
                                            SGD:
                                              type: number
                                            KRW:
                                              type: integer
                                            VND:
                                              type: integer
                                            ZAR:
                                              type: number
                                          required:
                                          - USD
                                          - EUR
                                          - GBP
                                          - AUD
                                          - BRL
                                          - CAD
                                          - AED
                                          - INR
                                          - IDR
                                          - ILS
                                          - JPY
                                          - MYR
                                          - MXN
                                          - SGD
                                          - KRW
                                          - VND
                                          - ZAR
                                          x-apidog-orders:
                                          - USD
                                          - EUR
                                          - GBP
                                          - AUD
                                          - BRL
                                          - CAD
                                          - AED
                                          - INR
                                          - IDR
                                          - ILS
                                          - JPY
                                          - MYR
                                          - MXN
                                          - SGD
                                          - ZAR
                                          - KRW
                                          - VND
                                        recommended_retail_price:
                                          type: object
                                          properties:
                                            USD:
                                              type: integer
                                            EUR:
                                              type: number
                                            GBP:
                                              type: integer
                                            AUD:
                                              type: number
                                            BRL:
                                              type: number
                                            CAD:
                                              type: number
                                            AED:
                                              type: number
                                            INR:
                                              type: number
                                            IDR:
                                              type: integer
                                            ILS:
                                              type: number
                                            JPY:
                                              type: integer
                                            MYR:
                                              type: number
                                            MXN:
                                              type: number
                                            SGD:
                                              type: number
                                            KRW:
                                              type: integer
                                            VND:
                                              type: integer
                                            ZAR:
                                              type: number
                                          required:
                                          - USD
                                          - EUR
                                          - GBP
                                          - AUD
                                          - BRL
                                          - CAD
                                          - AED
                                          - INR
                                          - IDR
                                          - ILS
                                          - JPY
                                          - MYR
                                          - MXN
                                          - SGD
                                          - KRW
                                          - VND
                                          - ZAR
                                          x-apidog-orders:
                                          - USD
                                          - EUR
                                          - GBP
                                          - AUD
                                          - BRL
                                          - CAD
                                          - AED
                                          - INR
                                          - IDR
                                          - ILS
                                          - JPY
                                          - MYR
                                          - MXN
                                          - SGD
                                          - ZAR
                                          - KRW
                                          - VND
                                      required:
                                      - net_price
                                      - recommended_retail_price
                                      x-apidog-orders:
                                      - net_price
                                      - recommended_retail_price
                                    short_info:
                                      type:
                                      - string
                                      - 'null'
                                    qr_installation:
                                      type: string
                                    manual_installation:
                                      type: string
                                    is_fair_usage_policy:
                                      type: boolean
                                    fair_usage_policy:
                                      type: 'null'
                                  required:
                                  - id
                                  - type
                                  - price
                                  - net_price
                                  - amount
                                  - day
                                  - is_unlimited
                                  - title
                                  - data
                                  - voice
                                  - text
                                  - prices
                                  - short_info
                                  - qr_installation
                                  - manual_installation
                                  - is_fair_usage_policy
                                  - fair_usage_policy
                                  x-apidog-orders:
                                  - id
                                  - type
                                  - price
                                  - net_price
                                  - amount
                                  - day
                                  - is_unlimited
                                  - title
                                  - data
                                  - voice
                                  - text
                                  - prices
                                  - short_info
                                  - qr_installation
                                  - manual_installation
                                  - is_fair_usage_policy
                                  - fair_usage_policy
                              style:
                                type: string
                              gradient_start:
                                type: string
                              gradient_end:
                                type: string
                              is_prepaid:
                                type: boolean
                              esim_type:
                                type: string
                              warning:
                                type: 'null'
                              apn_type:
                                type: string
                              apn_value:
                                type:
                                - string
                                - 'null'
                              info:
                                type: array
                                items:
                                  type: string
                              image:
                                type: object
                                properties:
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  url:
                                    type: string
                                required:
                                - width
                                - height
                                - url
                                x-apidog-orders:
                                - width
                                - height
                                - url
                              activation_policy:
                                type: string
                              is_kyc_verify:
                                type: boolean
                              other_info:
                                type:
                                - string
                                - 'null'
                              coverages:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    code:
                                      type: string
                                    networks:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          types:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                        - name
                                        - types
                                        x-apidog-orders:
                                        - name
                                        - types
                                  required:
                                  - name
                                  - code
                                  - networks
                                  x-apidog-orders:
                                  - name
                                  - code
                                  - networks
                              install_window_days:
                                type:
                                - integer
                                - 'null'
                                description: 'The # of days from when an eSIM is bought from operator until it can be installed on a device. If this time passes - the sim is recycled and gone (cannot be used/ topped up)'
                              topup_grace_window_days:
                                type:
                                - integer
                                - 'null'
                                description: 'The # of days from when an eSIM is exhausted or expired until a topup is bought. If this period passes and no topup is bought, the sim is recycled and can no longer be topped up. Note that after each topup this period restarts.'
                              apn:
                                type: object
                                properties:
                                  ios:
                                    type: object
                                    properties:
                                      apn_type:
                                        type: string
                                      apn_value:
                                        type:
                                        - string
                                        - 'null'
                                    required:
                                    - apn_type
                                    - apn_value
                                    x-apidog-orders:
                                    - apn_type
                                    - apn_value
                                  android:
                                    type: object
                                    properties:
                                      apn_type:
                                        type: string
                                      apn_value:
                                        type:
                                        - string
                                        - 'null'
                                    required:
                                    - apn_type
                                    - apn_value
                                    x-apidog-orders:
                                    - apn_type
                                    - apn_value
                                required:
                                - ios
                                - android
                                x-apidog-orders:
                                - ios
                                - android
                              countries:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    country_code:
                                      type: string
                                    title:
                                      type: string
                                    image:
                                      type: object
                                      properties:
                                        width:
                                          type: integer
                                        height:
                                          type: integer
                                        url:
                                          type: string
                                      required:
                                      - width
                                      - height
                                      - url
                                      x-apidog-orders:
                                      - width
                                      - height
                                      - url
                                  required:
                                  - country_code
                                  - title
                                  - image
                                  x-apidog-orders:
                                  - country_code
                                  - title
                                  - image
                            required:
                            - id
                            - title
                            - type
                            - plan_type
                            - is_roaming
                            - rechargeability
                            - packages
                            - style
                            - gradient_start
                            - gradient_end
                            - is_prepaid
                            - esim_type
                            - warning
                            - apn_type
                            - apn_value
                            - info
                            - image
                            - activation_policy
                            - is_kyc_verify
                            - other_info
                            - coverages
                            - install_window_days
                            - topup_grace_window_days
                            - apn
                            - countries
                            x-apidog-orders:
                            - id
                            - title
                            - type
                            - plan_type
                            - is_roaming
                            - rechargeability
                            - packages
                            - style
                            - gradient_start
                            - gradient_end
                            - is_prepaid
                            - esim_type
                            - warning
                            - apn_type
                            - apn_value
                            - info
                            - image
                            - activation_policy
                            - is_kyc_verify
                            - other_info
                            - coverages
                            - install_window_days
                            - topup_grace_window_days
                            - apn
                            - countries
                      required:
                      - slug
                      - country_code
                      - title
                      - image
                      - min_price
                      - operators
                      x-apidog-orders:
                      - slug
                      - country_code
                      - title
                      - image
                      - min_price
                      - operators
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: 'null'
                      next:
                        type: string
                    required:
                    - first
                    - last
                    - prev
                    - next
                    x-apidog-orders:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                      current_page:
                        type: integer
                      from:
                        type: integer
                      last_page:
                        type: integer
                      path:
                        type: string
                      per_page:
                        type: string
                      to:
                        type: integer
                      total:
                        type: integer
                    required:
                    - message
                    - current_page
                    - from
                    - last_page
                    - path
                    - per_page
                    - to
                    - total
                    x-apidog-orders:
                    - message
                    - current_page
                    - from
                    - last_page
                    - path
                    - per_page
                    - to
                    - total
                required:
                - pricing
                - data
                - links
                - meta
                x-apidog-orders:
                - pricing
                - data
                - links
                - meta
              examples:
                '1':
                  summary: List Packages (200)
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - slug: united-states
                      country_code: US
                      title: United States
                      image:
                        width: 132
                        height: 100
                        url: https://cdn-revamp.airalo.com/images/ad19c2a2-40b8-4dac-b95e-269703c8561b.png
                      min_price:
                        net_price:
                          AUD: 2.56
                          BRL: 9.18
                          GBP: 1.35
                          CAD: 2.5
                          AED: 6.61
                          EUR: 1.55
                          INR: 166.1
                          IDR: 30634
                          ILS: 5.56
                          JPY: 286
                          KWD: 0.558
                          MYR: 7.16
                          MXN: 31.41
                          SGD: 2.29
                          ZAR: 29.57
                          KRW: 2662
                          USD: 1.8
                          VND: 47401
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1180
                        title: Change
                        type: local
                        plan_type: data
                        is_roaming: true
                        rechargeability: true
                        packages:
                        - id: change-in-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.8
                          amount: 1024
                          day: 7
                          is_unlimited: false
                          title: 1 GB - 7 days
                          data: 1 GB
                          voice: null
                          text: null
                          prices:
                            net_price:
                              USD: 1.8
                              EUR: 1.55
                              GBP: 1.35
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    - slug: france
                      country_code: FR
                      title: France
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/9753dedb-d495-47cf-b6e4-82e555564743.png
                      min_price:
                        net_price:
                          AUD: 1.99
                          BRL: 7.14
                          GBP: 1.05
                          CAD: 1.95
                          AED: 5.14
                          EUR: 1.2
                          INR: 129.19
                          IDR: 23827
                          ILS: 4.33
                          JPY: 222
                          KWD: 0.434
                          MYR: 5.57
                          MXN: 24.43
                          SGD: 1.78
                          ZAR: 23
                          KRW: 2070
                          USD: 1.4
                          VND: 36867
                        recommended_retail_price:
                          AUD: 6.39
                          BRL: 22.95
                          GBP: 3.38
                          CAD: 6.26
                          AED: 16.52
                          EUR: 3.87
                          INR: 415.26
                          IDR: 76585
                          ILS: 13.9
                          JPY: 714
                          KWD: 1.395
                          MYR: 17.91
                          MXN: 78.52
                          SGD: 5.72
                          ZAR: 73.94
                          KRW: 6655
                          USD: 4.5
                          VND: 118502
                      operators:
                      - id: 826
                        title: Élan
                        type: local
                        plan_type: data
                        is_roaming: false
                        rechargeability: true
                        packages:
                        - id: elan-7days-1gb
                          type: sim
                          price: 4.5
                          net_price: 1.4
                          amount: 1024
                          day: 7
                          is_unlimited: false
                          title: 1 GB - 7 days
                          data: 1 GB
                          voice: null
                          text: null
                          prices:
                            net_price:
                              USD: 1.4
                              EUR: 1.2
                              GBP: 1.05
                            recommended_retail_price:
                              USD: 4.5
                              EUR: 3.87
                              GBP: 3.38
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=2&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=2&language=en&page=107
                      prev: null
                      next: https://partners-api.airalo.com/v2/packages?limit=2&language=en&page=2
                    meta:
                      message: success
                      current_page: 1
                      from: 1
                      last_page: 107
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '2'
                      to: 2
                      total: 213
                '2':
                  summary: List Packages with topup (200)
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - slug: united-states
                      country_code: US
                      title: United States
                      image:
                        width: 132
                        height: 100
                        url: https://cdn-revamp.airalo.com/images/ad19c2a2-40b8-4dac-b95e-269703c8561b.png
                      min_price:
                        net_price:
                          AUD: 2.56
                          BRL: 9.18
                          GBP: 1.35
                          CAD: 2.5
                          AED: 6.61
                          EUR: 1.55
                          INR: 166.1
                          IDR: 30634
                          ILS: 5.56
                          JPY: 286
                          KWD: 0.558
                          MYR: 7.16
                          MXN: 31.41
                          SGD: 2.29
                          ZAR: 29.57
                          KRW: 2662
                          USD: 1.8
                          VND: 47401
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1180
                        title: Change
                        type: local
                        plan_type: data
                        packages:
                        - id: change-in-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.8
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.8
                              EUR: 1.55
                              GBP: 1.35
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                        - id: change-in-7days-1gb-topup
                          type: topup
                          price: 4
                          net_price: 1.8
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.8
                              EUR: 1.55
                              GBP: 1.35
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    - slug: france
                      country_code: FR
                      title: France
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/9753dedb-d495-47cf-b6e4-82e555564743.png
                      min_price:
                        net_price:
                          AUD: 1.99
                          BRL: 7.14
                          GBP: 1.05
                          CAD: 1.95
                          AED: 5.14
                          EUR: 1.2
                          INR: 129.19
                          IDR: 23827
                          ILS: 4.33
                          JPY: 222
                          KWD: 0.434
                          MYR: 5.57
                          MXN: 24.43
                          SGD: 1.78
                          ZAR: 23
                          KRW: 2070
                          USD: 1.4
                          VND: 36867
                        recommended_retail_price:
                          AUD: 6.39
                          BRL: 22.95
                          GBP: 3.38
                          CAD: 6.26
                          AED: 16.52
                          EUR: 3.87
                          INR: 415.26
                          IDR: 76585
                          ILS: 13.9
                          JPY: 714
                          KWD: 1.395
                          MYR: 17.91
                          MXN: 78.52
                          SGD: 5.72
                          ZAR: 73.94
                          KRW: 6655
                          USD: 4.5
                          VND: 118502
                      operators:
                      - id: 826
                        title: Élan
                        type: local
                        plan_type: data
                        packages:
                        - id: elan-7days-1gb
                          type: sim
                          price: 4.5
                          net_price: 1.4
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.4
                              EUR: 1.2
                              GBP: 1.05
                            recommended_retail_price:
                              USD: 4.5
                              EUR: 3.87
                              GBP: 3.38
                        - id: elan-7days-1gb-topup
                          type: topup
                          price: 4.5
                          net_price: 1.4
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.4
                              EUR: 1.2
                              GBP: 1.05
                            recommended_retail_price:
                              USD: 4.5
                              EUR: 3.87
                              GBP: 3.38
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=2&include=topup&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=2&include=topup&language=en&page=107
                      prev: null
                      next: https://partners-api.airalo.com/v2/packages?limit=2&include=topup&language=en&page=2
                    meta:
                      message: success
                      current_page: 1
                      from: 1
                      last_page: 107
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '2'
                      to: 2
                      total: 213
                '3':
                  summary: List Global Packages (200)
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - slug: eu-plus-uk
                      country_code: ''
                      title: European Union and United Kingdom
                      image:
                        width: 264
                        height: 192
                        url: https://cdn-revamp.airalo.com/images/8d85b607-4964-4f9a-b6d4-8b8ff7ebc184.png
                      min_price:
                        net_price:
                          AUD: 1.85
                          BRL: 6.63
                          GBP: 0.98
                          CAD: 1.81
                          AED: 4.77
                          EUR: 1.12
                          INR: 119.96
                          IDR: 22125
                          ILS: 4.02
                          JPY: 206
                          KWD: 0.403
                          MYR: 5.17
                          MXN: 22.68
                          SGD: 1.65
                          ZAR: 21.36
                          KRW: 1922
                          USD: 1.3
                          VND: 34234
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1416
                        title: EUconnect
                        type: global
                        plan_type: data
                        is_roaming: true
                        packages:
                        - id: eu-connect-in-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.3
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.3
                              EUR: 1.12
                              GBP: 0.98
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=1&filter%5Btype%5D=global&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=1&filter%5Btype%5D=global&language=en&page=11
                      prev: null
                      next: https://partners-api.airalo.com/v2/packages?limit=1&filter%5Btype%5D=global&language=en&page=2
                    meta:
                      message: success
                      current_page: 1
                      from: 1
                      last_page: 11
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '1'
                      to: 1
                      total: 11
                '4':
                  summary: List Local Packages (200)
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - slug: united-states
                      country_code: US
                      title: United States
                      image:
                        width: 132
                        height: 100
                        url: https://cdn-revamp.airalo.com/images/ad19c2a2-40b8-4dac-b95e-269703c8561b.png
                      min_price:
                        net_price:
                          AUD: 2.56
                          BRL: 9.18
                          GBP: 1.35
                          CAD: 2.5
                          AED: 6.61
                          EUR: 1.55
                          INR: 166.1
                          IDR: 30634
                          ILS: 5.56
                          JPY: 286
                          KWD: 0.558
                          MYR: 7.16
                          MXN: 31.41
                          SGD: 2.29
                          ZAR: 29.57
                          KRW: 2662
                          USD: 1.8
                          VND: 47401
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1180
                        title: Change
                        type: local
                        plan_type: data
                        packages:
                        - id: change-in-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.8
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.8
                              EUR: 1.55
                              GBP: 1.35
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    - slug: france
                      country_code: FR
                      title: France
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/9753dedb-d495-47cf-b6e4-82e555564743.png
                      min_price:
                        net_price:
                          AUD: 1.99
                          BRL: 7.14
                          GBP: 1.05
                          CAD: 1.95
                          AED: 5.14
                          EUR: 1.2
                          INR: 129.19
                          IDR: 23827
                          ILS: 4.33
                          JPY: 222
                          KWD: 0.434
                          MYR: 5.57
                          MXN: 24.43
                          SGD: 1.78
                          ZAR: 23
                          KRW: 2070
                          USD: 1.4
                          VND: 36867
                        recommended_retail_price:
                          AUD: 6.39
                          BRL: 22.95
                          GBP: 3.38
                          CAD: 6.26
                          AED: 16.52
                          EUR: 3.87
                          INR: 415.26
                          IDR: 76585
                          ILS: 13.9
                          JPY: 714
                          KWD: 1.395
                          MYR: 17.91
                          MXN: 78.52
                          SGD: 5.72
                          ZAR: 73.94
                          KRW: 6655
                          USD: 4.5
                          VND: 118502
                      operators:
                      - id: 826
                        title: Élan
                        type: local
                        plan_type: data
                        packages:
                        - id: elan-7days-1gb
                          type: sim
                          price: 4.5
                          net_price: 1.4
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.4
                              EUR: 1.2
                              GBP: 1.05
                            recommended_retail_price:
                              USD: 4.5
                              EUR: 3.87
                              GBP: 3.38
                    - slug: china
                      country_code: CN
                      title: China
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/301616a0-cd3e-4151-a4ec-78c8ddb04ca9.png
                      min_price:
                        net_price:
                          AUD: 2.41
                          BRL: 8.67
                          GBP: 1.28
                          CAD: 2.36
                          AED: 6.24
                          EUR: 1.46
                          INR: 156.88
                          IDR: 28932
                          ILS: 5.25
                          JPY: 270
                          KWD: 0.527
                          MYR: 6.77
                          MXN: 29.66
                          SGD: 2.16
                          ZAR: 27.93
                          KRW: 2514
                          USD: 1.7
                          VND: 44768
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1112
                        title: Chinacom
                        type: local
                        plan_type: data
                        packages:
                        - id: chinacom-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.7
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.7
                              EUR: 1.46
                              GBP: 1.28
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Btype%5D=local&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Btype%5D=local&language=en&page=68
                      prev: null
                      next: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Btype%5D=local&language=en&page=2
                    meta:
                      message: success
                      current_page: 1
                      from: 1
                      last_page: 68
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '3'
                      to: 3
                      total: 202
                '5':
                  summary: List Local Packages for Specific Country (200)
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - slug: bulgaria
                      country_code: BG
                      title: Bulgaria
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/22a42cdc-adc8-40c9-808c-a927a28ca5ec.png
                      min_price:
                        net_price:
                          AUD: 1.85
                          BRL: 6.63
                          GBP: 0.98
                          CAD: 1.81
                          AED: 4.77
                          EUR: 1.12
                          INR: 119.96
                          IDR: 22125
                          ILS: 4.02
                          JPY: 206
                          KWD: 0.403
                          MYR: 5.17
                          MXN: 22.68
                          SGD: 1.65
                          ZAR: 21.36
                          KRW: 1922
                          USD: 1.3
                          VND: 34234
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 38
                        title: Bultel
                        type: local
                        plan_type: data
                        packages:
                        - id: bultel-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.3
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.3
                              EUR: 1.12
                              GBP: 0.98
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Bcountry%5D=BG&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Bcountry%5D=BG&language=en&page=1
                      prev: null
                      next: null
                    meta:
                      message: success
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '3'
                      to: 1
                      total: 1
                '6':
                  summary: List Packages with Pagination (200)
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - slug: spain
                      country_code: ES
                      title: Spain
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/c9c87a09-69f5-4c5c-8d20-633539ab5aca.png
                      min_price:
                        net_price:
                          AUD: 1.85
                          BRL: 6.63
                          GBP: 0.98
                          CAD: 1.81
                          AED: 4.77
                          EUR: 1.12
                          INR: 119.96
                          IDR: 22125
                          ILS: 4.02
                          JPY: 206
                          KWD: 0.403
                          MYR: 5.17
                          MXN: 22.68
                          SGD: 1.65
                          ZAR: 21.36
                          KRW: 1922
                          USD: 1.3
                          VND: 34234
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1189
                        title: Guay Mobile
                        type: local
                        plan_type: data
                        packages:
                        - id: guay-mobile-in-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.3
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.3
                              EUR: 1.12
                              GBP: 0.98
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    - slug: italy
                      country_code: IT
                      title: Italy
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/5d7cdb58-591c-45d6-a9d1-050829acd0ab.png
                      min_price:
                        net_price:
                          AUD: 1.7
                          BRL: 6.12
                          GBP: 0.9
                          CAD: 1.67
                          AED: 4.4
                          EUR: 1.03
                          INR: 110.74
                          IDR: 20423
                          ILS: 3.71
                          JPY: 190
                          KWD: 0.372
                          MYR: 4.78
                          MXN: 20.94
                          SGD: 1.52
                          ZAR: 19.72
                          KRW: 1775
                          USD: 1.2
                          VND: 31601
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1207
                        title: Mamma Mia
                        type: local
                        plan_type: data
                        packages:
                        - id: mamma-mia-in-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.2
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.2
                              EUR: 1.03
                              GBP: 0.9
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    - slug: turkey
                      country_code: TR
                      title: Turkey
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/8efbff32-b788-4098-a957-7fc4b9febb50.png
                      min_price:
                        net_price:
                          AUD: 1.85
                          BRL: 6.63
                          GBP: 0.98
                          CAD: 1.81
                          AED: 4.77
                          EUR: 1.12
                          INR: 119.96
                          IDR: 22125
                          ILS: 4.02
                          JPY: 206
                          KWD: 0.403
                          MYR: 5.17
                          MXN: 22.68
                          SGD: 1.65
                          ZAR: 21.36
                          KRW: 1922
                          USD: 1.3
                          VND: 34234
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 516
                        title: Merhaba
                        type: local
                        plan_type: data
                        packages:
                        - id: merhaba-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.3
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.3
                              EUR: 1.12
                              GBP: 0.98
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Btype%5D=local&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Btype%5D=local&language=en&page=68
                      prev: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Btype%5D=local&language=en&page=1
                      next: https://partners-api.airalo.com/v2/packages?limit=3&filter%5Btype%5D=local&language=en&page=3
                    meta:
                      message: success
                      current_page: 2
                      from: 4
                      last_page: 68
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '3'
                      to: 6
                      total: 202
                '7':
                  summary: List Packages with Pagination page>=2 (200)
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - slug: italy
                      country_code: IT
                      title: Italy
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/5d7cdb58-591c-45d6-a9d1-050829acd0ab.png
                      min_price:
                        net_price:
                          AUD: 1.7
                          BRL: 6.12
                          GBP: 0.9
                          CAD: 1.67
                          AED: 4.4
                          EUR: 1.03
                          INR: 110.74
                          IDR: 20423
                          ILS: 3.71
                          JPY: 190
                          KWD: 0.372
                          MYR: 4.78
                          MXN: 20.94
                          SGD: 1.52
                          ZAR: 19.72
                          KRW: 1775
                          USD: 1.2
                          VND: 31601
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 838
                        title: Mamma Mia
                        type: local
                        plan_type: data
                        packages:
                        - id: mamma-mia-30days-3gb-topup-old
                          type: topup
                          price: 10
                          net_price: 1.7
                          amount: 3072
                          day: 30
                          title: 3 GB - 30 days
                          data: 3 GB
                          prices:
                            net_price:
                              USD: 1.7
                              EUR: 1.46
                              GBP: 1.28
                            recommended_retail_price:
                              USD: 10
                              EUR: 8.6
                              GBP: 7.5
                      - id: 1207
                        title: Mamma Mia
                        type: local
                        plan_type: data
                        packages:
                        - id: mamma-mia-in-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.2
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.2
                              EUR: 1.03
                              GBP: 0.9
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                        - id: mamma-mia-in-7days-1gb-topup
                          type: topup
                          price: 4
                          net_price: 1.2
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.2
                              EUR: 1.03
                              GBP: 0.9
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    - slug: turkey
                      country_code: TR
                      title: Turkey
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/8efbff32-b788-4098-a957-7fc4b9febb50.png
                      min_price:
                        net_price:
                          AUD: 1.85
                          BRL: 6.63
                          GBP: 0.98
                          CAD: 1.81
                          AED: 4.77
                          EUR: 1.12
                          INR: 119.96
                          IDR: 22125
                          ILS: 4.02
                          JPY: 206
                          KWD: 0.403
                          MYR: 5.17
                          MXN: 22.68
                          SGD: 1.65
                          ZAR: 21.36
                          KRW: 1922
                          USD: 1.3
                          VND: 34234
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 516
                        title: Merhaba
                        type: local
                        plan_type: data
                        packages:
                        - id: merhaba-7days-1gb
                          type: sim
                          price: 4
                          net_price: 1.3
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.3
                              EUR: 1.12
                              GBP: 0.98
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                        - id: merhaba-7days-1gb-topup
                          type: topup
                          price: 4
                          net_price: 1.3
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            net_price:
                              USD: 1.3
                              EUR: 1.12
                              GBP: 0.98
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=2&include=topup&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=2&include=topup&language=en&page=107
                      prev: https://partners-api.airalo.com/v2/packages?limit=2&include=topup&language=en&page=2
                      next: https://partners-api.airalo.com/v2/packages?limit=2&include=topup&language=en&page=4
                    meta:
                      message: success
                      current_page: 3
                      from: 5
                      last_page: 107
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '2'
                      to: 6
                      total: 213
                '8':
                  summary: (Discount pricing) List Packages
                  value:
                    pricing:
                      model: discount_pricing
                      discount_percentage: 10
                    data:
                    - slug: united-states
                      country_code: US
                      title: United States
                      image:
                        width: 132
                        height: 100
                        url: https://cdn-revamp.airalo.com/images/ad19c2a2-40b8-4dac-b95e-269703c8561b.png
                      min_price:
                        recommended_retail_price:
                          AUD: 5.68
                          BRL: 20.4
                          GBP: 3
                          CAD: 5.56
                          AED: 14.68
                          EUR: 3.44
                          INR: 369.12
                          IDR: 68076
                          ILS: 12.36
                          JPY: 635
                          KWD: 1.24
                          MYR: 15.92
                          MXN: 69.8
                          SGD: 5.08
                          ZAR: 65.72
                          KRW: 5915
                          USD: 4
                          VND: 105336
                      operators:
                      - id: 1180
                        title: Change
                        type: local
                        plan_type: data
                        packages:
                        - id: change-in-7days-1gb
                          type: sim
                          price: 4
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            recommended_retail_price:
                              USD: 4
                              EUR: 3.44
                              GBP: 3
                    - slug: france
                      country_code: FR
                      title: France
                      image:
                        width: 132
                        height: 99
                        url: https://cdn-revamp.airalo.com/images/9753dedb-d495-47cf-b6e4-82e555564743.png
                      min_price:
                        recommended_retail_price:
                          AUD: 6.39
                          BRL: 22.95
                          GBP: 3.38
                          CAD: 6.26
                          AED: 16.52
                          EUR: 3.87
                          INR: 415.26
                          IDR: 76585
                          ILS: 13.9
                          JPY: 714
                          KWD: 1.395
                          MYR: 17.91
                          MXN: 78.52
                          SGD: 5.72
                          ZAR: 73.94
                          KRW: 6655
                          USD: 4.5
                          VND: 118502
                      operators:
                      - id: 826
                        title: Élan
                        type: local
                        plan_type: data
                        packages:
                        - id: elan-7days-1gb
                          type: sim
                          price: 4.5
                          amount: 1024
                          day: 7
                          title: 1 GB - 7 days
                          data: 1 GB
                          prices:
                            recommended_retail_price:
                              USD: 4.5
                              EUR: 3.87
                              GBP: 3.38
                    links:
                      first: https://partners-api.airalo.com/v2/packages?limit=2&language=en&page=1
                      last: https://partners-api.airalo.com/v2/packages?limit=2&language=en&page=107
                      prev: null
                      next: https://partners-api.airalo.com/v2/packages?limit=2&language=en&page=2
                    meta:
                      message: success
                      current_page: 1
                      from: 1
                      last_page: 107
                      path: https://partners-api.airalo.com/v2/packages
                      per_page: '2'
                      to: 2
                      total: 213
                '9':
                  summary: List Packages (422)
                  value:
                    data:
                      limit: The limit must be an integer.
                      filter.type: The selected type is not supported. Supported values:local, global.
                      filter.country: 'Unsupported country code. Please provide a valid 2-character country code Example: DE, TR, JP'
                    meta:
                      message: the parameter is invalid
          headers: {}
          x-apidog-name: List Packages (200)
        '422':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      limit:
                        type: string
                    required:
                    - limit
                    x-apidog-orders:
                    - limit
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: List Packages (422)
        x-200:List Packages with topup (200):
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  pricing:
                    type: object
                    properties:
                      model:
                        type: string
                      discount_percentage:
                        type: integer
                    required:
                    - model
                    - discount_percentage
                    x-apidog-orders:
                    - model
                    - discount_percentage
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        country_code:
                          type: string
                        title:
                          type: string
                        image:
                          type: object
                          properties:
                            width:
                              type: integer
                            height:
                              type: integer
                            url:
                              type: string
                          required:
                          - width
                          - height
                          - url
                          x-apidog-orders:
                          - width
                          - height
                          - url
                        min_price:
                          type: object
                          properties:
                            net_price:
                              type: object
                              properties:
                                AUD:
                                  type: number
                                BRL:
                                  type: number
                                GBP:
                                  type: number
                                CAD:
                                  type: number
                                AED:
                                  type: number
                                EUR:
                                  type: number
                                INR:
                                  type: number
                                IDR:
                                  type: integer
                                ILS:
                                  type: number
                                JPY:
                                  type: integer
                                KWD:
                                  type: number
                                MYR:
                                  type: number
                                MXN:
                                  type: number
                                SGD:
                                  type: number
                                ZAR:
                                  type: number
                                KRW:
                                  type: integer
                                USD:
                                  type: number
                                VND:
                                  type: integer
                              required:
                              - AUD
                              - BRL
                              - GBP
                              - CAD
                              - AED
                              - EUR
                              - INR
                              - IDR
                              - ILS
                              - JPY
                              - KWD
                              - MYR
                              - MXN
                              - SGD
                              - ZAR
                              - KRW
                              - USD
                              - VND
                              x-apidog-orders:
                              - AUD
                              - BRL
                              - GBP
                              - CAD
                              - AED
                              - EUR
                              - INR
                              - IDR
                              - ILS
                              - JPY
                              - KWD
                              - MYR
                              - MXN
                              - SGD
                              - ZAR
                              - KRW
                              - USD
                              - VND
                            recommended_retail_price:
                              type: object
                              properties:
                                AUD:
                                  type: number
                                BRL:
                                  type: number
                                GBP:
                                  type: integer
                                CAD:
                                  type: number
                                AED:
                                  type: number
                                EUR:
                                  type: number
[...]
