openapi: 3.2.0
info:
  title: Airalo Partner REST API/Endpoints/Install eSIM API
  description: Airalo Partner API (v2) — assembled verbatim from the per-endpoint OpenAPI 3.0.1 fragments Airalo publishes on its Apidog-hosted developer portal (each endpoint page carries an 'OpenAPI Specification' block). Fragments were merged path-by-path; nothing was authored.
  version: 1.0.0
servers:
- url: https://partners-api.airalo.com
  description: Prod Env
security: []
tags:
- name: REST API/Endpoints/Install eSIM
paths:
  /v2/sims/{sim_iccid}:
    get:
      summary: Get eSIM
      deprecated: false
      description: 'This endpoint allows you to retrieve the details of a specific eSIM from the Airalo Partners API using the eSIM''s ICCID. Note that only eSIM orders made via the API are retrievable via this endpoint. You can include related data in the response by specifying optional parameters.


        The access token, obtained from the "Request Access Token" endpoint, should be included in the request.


        For more information and best practices visit our FAQ page


        **direct_apple_installation_url:**


        Partner API now supports direct installation on iOS devices. With the introduction of Universal Links by Apple, users with iOS 17.4 or higher can directly install eSIMs using a special URL, which can be provided to your end clients if they are using iOS version 17.4 or above.'
      tags:
      - REST API/Endpoints/Install eSIM
      parameters:
      - name: sim_iccid
        in: path
        description: The ICCID of the eSIM for which you want to retrieve the details.
        required: true
        example: ''
        schema:
          type: string
      - name: include
        in: query
        description: Optional. A comma-separated string to include related data in the response. Possible values are "order", "order.status", "order.user" and "share".
        required: false
        example: order,order.status,order.user,share
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      created_at:
                        type: string
                      iccid:
                        type: string
                      lpa:
                        type: string
                      imsis:
                        type: 'null'
                      matching_id:
                        type: string
                      qrcode:
                        type: string
                      qrcode_url:
                        type: string
                      direct_apple_installation_url:
                        type: string
                      voucher_code:
                        type: 'null'
                      airalo_code:
                        type: 'null'
                      apn_type:
                        type: string
                      apn_value:
                        type: 'null'
                      is_roaming:
                        type: boolean
                      confirmation_code:
                        type: string
                      order:
                        type: 'null'
                      brand_settings_name:
                        type: string
                      simable:
                        type: object
                        properties:
                          id:
                            type: integer
                          created_at:
                            type: string
                          code:
                            type: string
                          description:
                            type: 'null'
                          type:
                            type: string
                          package_id:
                            type: string
                          quantity:
                            type: integer
                          package:
                            type: string
                          esim_type:
                            type: string
                          validity:
                            type: string
                          price:
                            type: string
                          data:
                            type: string
                          currency:
                            type: string
                          manual_installation:
                            type: string
                          qrcode_installation:
                            type: string
                          installation_guides:
                            type: object
                            properties:
                              en:
                                type: string
                            required:
                            - en
                            x-apidog-orders:
                            - en
                          status:
                            type: object
                            properties:
                              name:
                                type: string
                              slug:
                                type: string
                            required:
                            - name
                            - slug
                            x-apidog-orders:
                            - name
                            - slug
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              created_at:
                                type: string
                              name:
                                type: string
                              email:
                                type: string
                              mobile:
                                type: 'null'
                              address:
                                type: 'null'
                              state:
                                type: 'null'
                              city:
                                type: 'null'
                              postal_code:
                                type: 'null'
                              country_id:
                                type: 'null'
                              company:
                                type: string
                            required:
                            - id
                            - created_at
                            - name
                            - email
                            - mobile
                            - address
                            - state
                            - city
                            - postal_code
                            - country_id
                            - company
                            x-apidog-orders:
                            - id
                            - created_at
                            - name
                            - email
                            - mobile
                            - address
                            - state
                            - city
                            - postal_code
                            - country_id
                            - company
                          sharing:
                            type: object
                            properties:
                              link:
                                type: string
                              access_code:
                                type: string
                            required:
                            - link
                            - access_code
                            x-apidog-orders:
                            - link
                            - access_code
                        required:
                        - id
                        - created_at
                        - code
                        - description
                        - type
                        - package_id
                        - quantity
                        - package
                        - esim_type
                        - validity
                        - price
                        - data
                        - currency
                        - manual_installation
                        - qrcode_installation
                        - installation_guides
                        - status
                        - user
                        - sharing
                        x-apidog-orders:
                        - id
                        - created_at
                        - code
                        - description
                        - type
                        - package_id
                        - quantity
                        - package
                        - esim_type
                        - validity
                        - price
                        - data
                        - currency
                        - manual_installation
                        - qrcode_installation
                        - installation_guides
                        - status
                        - user
                        - sharing
                      recycled:
                        type: boolean
                        description: true - if sim is recycled. - false - otherwise
                      recycled_at:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: Timestamp of when the sim was recycled in format Y-m-d H:i:s
                    required:
                    - id
                    - created_at
                    - iccid
                    - lpa
                    - imsis
                    - matching_id
                    - qrcode
                    - qrcode_url
                    - direct_apple_installation_url
                    - voucher_code
                    - airalo_code
                    - apn_type
                    - apn_value
                    - is_roaming
                    - confirmation_code
                    - order
                    - brand_settings_name
                    - simable
                    - recycled
                    - recycled_at
                    x-apidog-orders:
                    - id
                    - created_at
                    - iccid
                    - lpa
                    - imsis
                    - matching_id
                    - qrcode
                    - qrcode_url
                    - direct_apple_installation_url
                    - voucher_code
                    - airalo_code
                    - apn_type
                    - apn_value
                    - is_roaming
                    - confirmation_code
                    - order
                    - brand_settings_name
                    - recycled
                    - recycled_at
                    - simable
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
              example:
                data:
                  id: 11028
                  created_at: '2023-02-27 08:30:14'
                  iccid: '8944465400000267221'
                  lpa: lpa.airalo.com
                  imsis: null
                  matching_id: TEST
                  qrcode: LPA:1$lpa.airalo.com$TEST
                  qrcode_url: https://sandbox.airalo.com/qr?expires=1763800214&id=13282&signature=93bc1599eaaea3175eb32a9f23b3961273e97f04c50ba1b57b68ac99bc6677df
                  direct_apple_installation_url: https://esimsetup.apple.com/esim_qrcode_provisioning?carddata=LPA:1$wbg.prod.ondemandconnectivity.com$Y7MRQ886FCDJD4RH
                  voucher_code: null
                  airalo_code: null
                  apn_type: automatic
                  apn_value: null
                  is_roaming: true
                  confirmation_code: '5751'
                  order: null
                  brand_settings_name: our perfect brand
                  recycled: true
                  recycled_at: '2025-05-05 10:52:39'
                  simable:
                    id: 9647
                    created_at: '2023-02-27 08:30:14'
                    code: 20230227-009647
                    description: null
                    type: sim
                    package_id: kallur-digital-7days-1gb
                    quantity: 1
                    package: Kallur Digital-1 GB - 7 Days
                    esim_type: Prepaid
                    validity: '7'
                    price: '9.50'
                    data: 1 GB
                    currency: USD
                    manual_installation: '<p><b>eSIM name: </b>Kallur Digital</p><p><b>Coverage:</b> Faroe Islands</p><p><b>To manually activate the eSIM on your eSIM capable device:</b></p><p>1. Settings> Cellular/Mobile> Add Cellular/Mobile Plan.</p><p>2. Manually enter the SM-DP+ Address and activation code.</p><p>3. Confirm the eSIM plan details</p><p>4. Label the eSIM.</p><p><b>To access Data:</b></p><p>1. Enable data roaming.</p><p><b>To top-up:</b></p><p></p><p>Visit airalo.com/my-esims or "My eSIMs" tab in your Airaloo app.</p><p><br></p>'
                    qrcode_installation: '<p><b>eSIM name:</b> Kallur Digital</p><p><b>Coverage: </b>Faroe Islands</p><p><b>To activate the eSIM by scanning the QR code on your eSIM capable device you need to print or display this QR code on other device:</b></p><p>1. Settings> Cellular/Mobile> Add Cellular/Mobile Plan.</p><p>2. Scan QR code</p><p>3. Confirm the eSIM plan details</p><p>4. Label the eSIM</p><p><b>To access Data:</b></p><p>1. Enable data roaming</p>'
                    installation_guides:
                      en: https://sandbox.airalo.com/installation-guide
                    status:
                      name: Completed
                      slug: completed
                    user:
                      id: 120
                      created_at: '2023-02-20 08:41:57'
                      name: User Name
                      email: email@domain.com
                      mobile: null
                      address: null
                      state: null
                      city: null
                      postal_code: null
                      country_id: null
                      company: Company Name
                    sharing:
                      link: https://esims.cloud/our-perfect-brand/a4g5ht-58sdf1a
                      access_code: '4812'
                meta:
                  message: succes
          headers: {}
          x-apidog-name: Get eSIM (200)
      security: []
      x-apidog-folder: REST API/Endpoints/Install eSIM
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-11883028-run
      x-source-page: https://developers.partners.airalo.com/get-esim-11883028e0
      operationId: getV2SimsBySimIccid
      x-operation-id-source: derived
  /v2/sims/{sim_iccid}/instructions:
    get:
      summary: Get installation instructions
      deprecated: false
      description: 'This endpoint allows you to retrieve the language specific installation instructions of a specific eSIM from the Airalo Partners API using the eSIM''s ICCID. Pass the `Accept-language` header with the language code for translated a response.


        The access token, obtained from the Request Access Token endpoint, should be included in the request.


        For more information and best practices visit our FAQ page


        **direct_apple_installation_url:**


        Partner API now supports direct installation on iOS devices. With the introduction of Universal Links by Apple, users with iOS 17.4 or higher can directly install eSIMs using a special URL, which can be provided to your end clients if they are using iOS version 17.4 or above.'
      tags:
      - REST API/Endpoints/Install eSIM
      parameters:
      - name: sim_iccid
        in: path
        description: The ICCID of the eSIM for which you want to retrieve the details.
        required: true
        example: ''
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: ''
        required: true
        example: en
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      instructions:
                        type: object
                        properties:
                          language:
                            type: string
                          ios:
                            type: array
                            items:
                              type: object
                              properties:
                                model:
                                  type: 'null'
                                version:
                                  type: string
                                installation_via_qr_code:
                                  type: object
                                  properties:
                                    steps:
                                      type: object
                                      properties:
                                        '1':
                                          type: string
                                        '2':
                                          type: string
                                        '3':
                                          type: string
                                        '4':
                                          type: string
                                        '5':
                                          type: string
                                        '6':
                                          type: string
                                        '7':
                                          type: string
                                        '8':
                                          type: string
                                      required:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                      - '7'
                                      - '8'
                                      x-apidog-orders:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                      - '7'
                                      - '8'
                                    qr_code_data:
                                      type: string
                                    qr_code_url:
                                      type: string
                                    direct_apple_installation_url:
                                      type: string
                                  required:
                                  - steps
                                  - qr_code_data
                                  - qr_code_url
                                  - direct_apple_installation_url
                                  x-apidog-orders:
                                  - steps
                                  - qr_code_data
                                  - qr_code_url
                                  - direct_apple_installation_url
                                installation_manual:
                                  type: object
                                  properties:
                                    steps:
                                      type: object
                                      properties:
                                        '1':
                                          type: string
                                        '2':
                                          type: string
                                        '3':
                                          type: string
                                        '4':
                                          type: string
                                        '5':
                                          type: string
                                        '6':
                                          type: string
                                        '7':
                                          type: string
                                        '8':
                                          type: string
                                        '9':
                                          type: string
                                      required:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                      - '7'
                                      - '8'
                                      - '9'
                                      x-apidog-orders:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                      - '7'
                                      - '8'
                                      - '9'
                                    smdp_address_and_activation_code:
                                      type: string
                                  required:
                                  - steps
                                  - smdp_address_and_activation_code
                                  x-apidog-orders:
                                  - steps
                                  - smdp_address_and_activation_code
                                network_setup:
                                  type: object
                                  properties:
                                    steps:
                                      type: object
                                      properties:
                                        '1':
                                          type: string
                                        '2':
                                          type: string
                                        '3':
                                          type: string
                                        '4':
                                          type: string
                                        '5':
                                          type: string
                                      required:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      x-apidog-orders:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                    apn_type:
                                      type: string
                                    apn_value:
                                      type: string
                                    is_roaming:
                                      type: boolean
                                  required:
                                  - steps
                                  - apn_type
                                  - apn_value
                                  - is_roaming
                                  x-apidog-orders:
                                  - steps
                                  - apn_type
                                  - apn_value
                                  - is_roaming
                              x-apidog-orders:
                              - model
                              - version
                              - installation_via_qr_code
                              - installation_manual
                              - network_setup
                          android:
                            type: array
                            items:
                              type: object
                              properties:
                                model:
                                  type: 'null'
                                version:
                                  type: 'null'
                                installation_via_qr_code:
                                  type: object
                                  properties:
                                    steps:
                                      type: object
                                      properties:
                                        '1':
                                          type: string
                                        '2':
                                          type: string
                                        '3':
                                          type: string
                                        '4':
                                          type: string
                                        '5':
                                          type: string
                                      required:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      x-apidog-orders:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                    qr_code_data:
                                      type: string
                                    qr_code_url:
                                      type: string
                                  required:
                                  - steps
                                  - qr_code_data
                                  - qr_code_url
                                  x-apidog-orders:
                                  - steps
                                  - qr_code_data
                                  - qr_code_url
                                installation_manual:
                                  type: object
                                  properties:
                                    steps:
                                      type: object
                                      properties:
                                        '1':
                                          type: string
                                        '2':
                                          type: string
                                        '3':
                                          type: string
                                        '4':
                                          type: string
                                        '5':
                                          type: string
                                        '6':
                                          type: string
                                      required:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                      x-apidog-orders:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                    smdp_address_and_activation_code:
                                      type: string
                                  required:
                                  - steps
                                  - smdp_address_and_activation_code
                                  x-apidog-orders:
                                  - steps
                                  - smdp_address_and_activation_code
                                network_setup:
                                  type: object
                                  properties:
                                    steps:
                                      type: object
                                      properties:
                                        '1':
                                          type: string
                                        '2':
                                          type: string
                                        '3':
                                          type: string
                                        '4':
                                          type: string
                                        '5':
                                          type: string
                                        '6':
                                          type: string
                                        '7':
                                          type: string
                                      required:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                      - '7'
                                      x-apidog-orders:
                                      - '1'
                                      - '2'
                                      - '3'
                                      - '4'
                                      - '5'
                                      - '6'
                                      - '7'
                                    apn_type:
                                      type: string
                                    apn_value:
                                      type: string
                                    is_roaming:
                                      type: boolean
                                  required:
                                  - steps
                                  - apn_type
                                  - apn_value
                                  - is_roaming
                                  x-apidog-orders:
                                  - steps
                                  - apn_type
                                  - apn_value
                                  - is_roaming
                              x-apidog-orders:
                              - model
                              - version
                              - installation_via_qr_code
                              - installation_manual
                              - network_setup
                        required:
                        - language
                        - ios
                        - android
                        x-apidog-orders:
                        - language
                        - ios
                        - android
                    required:
                    - instructions
                    x-apidog-orders:
                    - instructions
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
              example:
                data:
                  instructions:
                    language: EN
                    ios:
                    - model: null
                      version: 14,15,13
                      installation_via_qr_code:
                        steps:
                          '1': Go to Settings > Cellular/Mobile > Add Cellular/Mobile Plan.
                          '2': Scan the QR Code.
                          '3': Tap on 'Add Cellular Plan'.
                          '4': Label the eSIM.
                          '5': Choose preferred default line to call or send messages.
                          '6': Choose the preferred line to use with iMessage, FaceTime, and Apple ID.
                          '7': Choose the eSIM plan as your default line for Cellular Data and do not turn on 'Allow Cellular Data Switching' to prevent charges on your other line.
                          '8': Your eSIM has been installed successfully, please scroll down to see the settings for accessing data.
                        qr_code_data: LPA:1$lpa.airalo.com$TEST
                        qr_code_url: https://sandbox.airalo.com/qr?expires=1797582688&id=115516&signature=3ee338b2d3405e913f1961993947236cc5c6b6c6c1d22d5e7da6e1281b6cefe6
                        direct_apple_installation_url: https://esimsetup.apple.com/esim_qrcode_provisioning?carddata=LPA:1$wbg.prod.ondemandconnectivity.com$Y7MRQ886FCDJD4RH
                      installation_manual:
                        steps:
                          '1': Go to Settings > Cellular/Mobile > Add Cellular/Mobile Plan.
                          '2': Tap on 'Enter Details Manually'.
                          '3': Enter your SM-DP+ Address and Activation Code.
                          '4': Tap on 'Add Cellular Plan'.
                          '5': Label the eSIM.
                          '6': Choose preferred default line to call or send messages.
                          '7': Choose the preferred line to use with iMessage, FaceTime, and Apple ID.
                          '8': Choose the eSIM plan as your default line for Cellular Data and do not turn on 'Allow Cellular Data Switching' to prevent charges on your other line.
                          '9': Your eSIM has been installed successfully, please scroll down to see the settings for accessing data.
                        smdp_address_and_activation_code: lpa.airalo.com
                      network_setup:
                        steps:
                          '1': Select your  eSIM under 'Cellular Plans'.
                          '2': Ensure that 'Turn On This Line' is toggled on.
                          '3': Go to 'Network Selection' and select the supported network.
                          '4': Turn on the Data Roaming.
                          '5': Need help? Chat with us.
                        apn_type: manual
                        apn_value: singleall
                        is_roaming: true
                    android:
                    - model: null
                      version: null
                      installation_via_qr_code:
                        steps:
                          '1': Go to Settings > Connections > SIM Card Manager.
                          '2': Tap on 'Add Mobile Plan'.
                          '3': Tap on 'Scan Carrier QR Code' and tap on 'Add'.
                          '4': When the plan has been registered, tap 'Ok' to turn on a new mobile plan.
                          '5': Your eSIM has been installed successfully, please scroll down to see the settings for accessing data.
                        qr_code_data: LPA:1$lpa.airalo.com$TEST
                        qr_code_url: https://sandbox.airalo.com/qr?expires=1797582688&id=115516&signature=3ee338b2d3405e913f1961993947236cc5c6b6c6c1d22d5e7da6e1281b6cefe6
                      installation_manual:
                        steps:
                          '1': Go to Settings > Connections > SIM Card Manager.
                          '2': Tap on 'Add Mobile Plan'.
                          '3': Tap on 'Scan Carrier QR Code' and tap on 'Enter code instead'.
                          '4': Enter the Activation Code (SM-DP+ Address & Activation Code).
                          '5': When the plan has been registered, tap 'Ok' to turn on a new mobile plan.
                          '6': Your eSIM has been installed successfully, please scroll down to see the settings for accessing data.
                        smdp_address_and_activation_code: lpa.airalo.com
                      network_setup:
                        steps:
                          '1': In the 'SIM Card Manager' select your  eSIM.
                          '2': Ensure that your eSIM is turned on under 'Mobile Networks'.
                          '3': Enable the Mobile Data.
                          '4': Turn on the Data Roaming.
                          '5': Go to Settings > Connections > Mobile networks > Network Operators.
                          '6': Ensure that the supported network is selected.
                          '7': Need help? Chat with us.
                        apn_type: manual
                        apn_value: singleall
                        is_roaming: true
                meta:
                  message: success
          headers: {}
          x-apidog-name: Get Installation instructions (200)
      security: []
      x-apidog-folder: REST API/Endpoints/Install eSIM
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-11883029-run
      x-source-page: https://developers.partners.airalo.com/get-installation-instructions-11883029e0
      operationId: getV2SimsBySimIccidInstructions
      x-operation-id-source: derived
x-assembled-from:
- https://developers.partners.airalo.com/cancel-future-orders-14459873e0
- https://developers.partners.airalo.com/deprecated-get-compatible-device-list-11883037e0
- https://developers.partners.airalo.com/esim-voucher-11883065e0
- https://developers.partners.airalo.com/future-orders-14455445e0
- https://developers.partners.airalo.com/future-orders-21307288e0
- https://developers.partners.airalo.com/get-balance-11883045e0
- https://developers.partners.airalo.com/get-compatible-device-lite-list-19504054e0
- https://developers.partners.airalo.com/get-esim-11883028e0
- https://developers.partners.airalo.com/get-esim-package-history-11883032e0
- https://developers.partners.airalo.com/get-esims-list-11883027e0
- https://developers.partners.airalo.com/get-installation-instructions-11883029e0
- https://developers.partners.airalo.com/get-notification-details-11883041e0
- https://developers.partners.airalo.com/get-notification-details-20383022e0
- https://developers.partners.airalo.com/get-notification-details-20384820e0
- https://developers.partners.airalo.com/get-order-11883023e0
- https://developers.partners.airalo.com/get-order-list-11883022e0
- https://developers.partners.airalo.com/get-packages-11883036e0
- https://developers.partners.airalo.com/get-product-information-pib-38810259e0
- https://developers.partners.airalo.com/get-top-up-package-list-11883031e0
- https://developers.partners.airalo.com/get-usage-data-text-voice-11883030e0
- https://developers.partners.airalo.com/opt-in-11883038e0
- https://developers.partners.airalo.com/opt-in-11883039e0
- https://developers.partners.airalo.com/opt-in-11883042e0
- https://developers.partners.airalo.com/opt-out-11883040e0
- https://developers.partners.airalo.com/opt-out-20383023e0
- https://developers.partners.airalo.com/opt-out-20384821e0
- https://developers.partners.airalo.com/request-access-token-11883021e0
- https://developers.partners.airalo.com/request-refund-14583565e0
- https://developers.partners.airalo.com/submit-order-11883024e0
- https://developers.partners.airalo.com/submit-order-async-11883025e0
- https://developers.partners.airalo.com/submit-top-up-order-11883026e0
- https://developers.partners.airalo.com/update-esim-brand-11883033e0
- https://developers.partners.airalo.com/webhook-simulator-11883044e0
- https://developers.partners.airalo.com/step-1-request-access-token-11883017e0
- https://developers.partners.airalo.com/step-2-get-packages-11883018e0
- https://developers.partners.airalo.com/step-3-submit-order-11883019e0
- https://developers.partners.airalo.com/step-4-get-installation-instructions-11883020e0
