openapi: 3.0.1
info:
  title: Airalo Partner API
  description: Airalo Partner API (v2) — assembled verbatim from the per-endpoint OpenAPI 3.0.1 fragments
    Airalo publishes on its Apidog-hosted developer portal (each endpoint page carries an 'OpenAPI Specification'
    block). Fragments were merged path-by-path; nothing was authored.
  version: 1.0.0
servers:
- url: https://partners-api.airalo.com
  description: Prod Env
paths:
  /v2/cancel-future-orders:
    post:
      summary: Cancel future orders
      deprecated: false
      description: 'This endpoint allows you to submit future order cancellation requests via the Airalo
        Partner API.


        To proceed, provide an array of request_id strings from the "Create Future Order" endpoint response.


        Please note:

        - Future orders can be canceled up to 24 hours before the due date.

        - You can include up to 10 future orders in a single request.

        - An access token from the "Request Access Token" endpoint is required.


        For more information and best practices visit our [FAQ page](https://developers.partners.airalo.com/faq-752238m0)


        '
      tags:
      - REST API/Endpoints/Manage orders
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_ids:
                  type: array
                  items:
                    type: string
                  uniqueItems: true
              x-apidog-orders:
              - request_ids
              required:
              - request_ids
            example:
              request_ids:
              - wPnaOiEcdyP11pEPeJ-jLhT_I
              - Q2FMVdpbIAFh0RVvtjKkya8a1
              - OKjfHGS5qzRWzt74iKfm9YeVe
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
              examples:
                '1':
                  summary: Success
                  value:
                    data: []
                    meta:
                      message: Future orders cancelled successfully
                '2':
                  summary: Validation errors
                  value:
                    data:
                      request_ids.1: Each request ID must be exactly 25 characters long.
                    meta:
                      message: the parameter is invalid
                '3':
                  summary: Already processed request ID
                  value:
                    data:
                      request_ids.0: 'Request ID: hjxVV6glJ9oTwieF4xeTgRuU6 is already processed and can
                        not be cancelled.'
                    meta:
                      message: the parameter is invalid
                '4':
                  summary: Request Id does not exist
                  value:
                    data:
                      request_ids.0: 'Request ID: hjxVV6glJ9oTwieF4xeTgRuU7 does not exist.'
                    meta:
                      message: the parameter is invalid
          headers: {}
          x-apidog-name: Success
        '422':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      request_ids.1:
                        type: string
                    required:
                    - request_ids.1
                    x-apidog-orders:
                    - request_ids.1
                    description: The data object provides specific error messags for each of the provided
                      request_ids, starting from index 0 which represents the first of the provided request_ids
                      in the array.. In this case "request_ids.1" represents the sercond request ID in
                      the array.
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Not valid request ID
        x-422:Already processed request ID:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      request_ids.0:
                        type: string
                    required:
                    - request_ids.0
                    x-apidog-orders:
                    - request_ids.0
                    description: The data object provides specific error messags for each of the provided
                      request_ids, starting from index 0 which represents the first of the provided request_ids
                      in the array.
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Already processed request ID
        x-422:Request Id does not exist:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      request_ids.0:
                        type: string
                    required:
                    - request_ids.0
                    x-apidog-orders:
                    - request_ids.0
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Request Id does not exist
      security: []
      x-apidog-folder: REST API/Endpoints/Manage orders
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-14459873-run
      x-source-page: https://developers.partners.airalo.com/cancel-future-orders-14459873e0
  /v2/compatible-devices:
    get:
      summary: '[Deprecated] Get compatible device list'
      deprecated: false
      description: ":::warning\nThis endpoint is deprecated and will be eventually removed.  \nPlease\
        \ use `/v2/compatible-devices-lite` instead.\n:::\n\n\nThis endpoint provides a comprehensive\
        \ list of devices that are compatible with eSIMs. Use this information to ensure that your customers\
        \ have devices that support eSIM functionality.  \n\n#### Important Notes  \n- Include the access\
        \ token, obtained from the **Request Access Token** endpoint, in the request headers to authenticate\
        \ your API call.  \n- The returned list is regularly updated to include the latest compatible\
        \ devices, ensuring accurate and reliable information for your integration.  \n- Use this endpoint\
        \ to validate device compatibility before processing eSIM orders.  "
      tags:
      - REST API/Endpoints/Compatible devices
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        model:
                          type: string
                        os:
                          type: string
                        brand:
                          type: string
                        name:
                          type: string
                      required:
                      - model
                      - os
                      - brand
                      - name
                      x-apidog-orders:
                      - model
                      - os
                      - brand
                      - name
                required:
                - data
                x-apidog-orders:
                - data
              example:
                data:
                - model: zangya_sprout
                  os: android
                  brand: bq
                  name: Aquaris X2
                - model: zangyapro_sprout
                  os: android
                  brand: bq
                  name: Aquaris X2 PRO
                - model: StrongPhone_G9
                  os: android
                  brand: Evolveo
                  name: EVOLVEO StrongPhone G9
                - model: gila
                  os: android
                  brand: Fossil
                  name: Fossil Gen 5 LTE
                - model: blueline
                  os: android
                  brand: Google
                  name: Pixel 3
                - model: bonito
                  os: android
                  brand: Google
                  name: Pixel 3a XL
                - model: bramble
                  os: android
                  brand: Google
                  name: Pixel 4a (5G)
                - model: coral
                  os: android
                  brand: Google
                  name: Pixel 4 XL
                - model: crosshatch
                  os: android
                  brand: Google
                  name: Pixel 3 XL
                - model: flame
                  os: android
                  brand: Google
                  name: Pixel 4
                - model: redfin
                  os: android
                  brand: Google
                  name: Pixel 5
                - model: sargo
                  os: android
                  brand: Google
                  name: Pixel 3a
                - model: sunfish
                  os: android
                  brand: Google
                  name: Pixel 4a
                - model: taimen
                  os: android
                  brand: Google
                  name: Pixel 2 XL
                - model: walleye
                  os: android
                  brand: Google
                  name: Pixel 2
                - model: HZ0010J
                  os: android
                  brand: Hoozo
                  name: HZ0010J
                - model: d-42A
                  os: android
                  brand: Lenovo
                  name: d-42A
                - model: hera_pro
                  os: android
                  brand: MiTAC
                  name: N672
                - model: surfing_pro
                  os: android
                  brand: MiTAC
                  name: N630
                - model: rover
                  os: android
                  brand: Mobvoi
                  name: TicWatch Pro 3 Cellular/LTE
                - model: coralia
                  os: android
                  brand: Montblanc
                  name: Summit 2+
                - model: olson
                  os: android
                  brand: Motorola
                  name: motorola razr
                - model: smith
                  os: android
                  brand: Motorola
                  name: motorola razr 5G
                - model: mkz_sdm660_64
                  os: android
                  brand: Motorola Solutions
                  name: MOTOTRBO ION
                - model: Hammer_Blade_3
                  os: android
                  brand: Myphone
                  name: Hammer Blade 3
                - model: Hammer_Expl_Pro
                  os: android
                  brand: Myphone
                  name: Hammer Explorer Pro
                - model: myPhone_Now_eSIM
                  os: android
                  brand: Myphone
                  name: myPhone Now eSIM
                - model: Hammer_Explorer
                  os: android
                  brand: MyPhone (PL)
                  name: Hammer_Explorer
                - model: OP4EC1
                  os: android
                  brand: Oppo
                  name: Reno6 Pro+ 5G
                - model: OP4F57L1
                  os: android
                  brand: Oppo
                  name: Find X3 Pro
                - model: orca
                  os: android
                  brand: Oppo
                  name: OPPO Watch
                - model: TAB-7304-16G3GS
                  os: android
                  brand: Premier
                  name: TAB-7304-16G3GS
                - model: C330
                  os: android
                  brand: Rakuten
                  name: C330
                - model: gaea
                  os: android
                  brand: Rakuten
                  name: Rakuten BIG s
                - model: P710
                  os: android
                  brand: Rakuten
                  name: Rakuten Hand
                - model: b2q
                  os: android
                  brand: Samsung
                  name: Galaxy Z Flip3 5G
                - model: bloomq
                  os: android
                  brand: Samsung
                  name: Galaxy Z Flip
                - model: bloomxq
                  os: android
                  brand: Samsung
                  name: Galaxy Z Flip 5G
                - model: c1q
                  os: android
                  brand: Samsung
                  name: Galaxy Note20 5G
                - model: c1s
                  os: android
                  brand: Samsung
                  name: Galaxy Note20
                - model: c2q
                  os: android
                  brand: Samsung
                  name: Galaxy Note20 Ultra 5G
                - model: c2s
                  os: android
                  brand: Samsung
                  name: Galaxy Note20 Ultra
                - model: freshul
                  os: android
                  brand: Samsung
                  name: Galaxy Watch4
                - model: freshus
                  os: android
                  brand: Samsung
                  name: Galaxy Watch4
                - model: o1s
                  os: android
                  brand: Samsung
                  name: Galaxy S21 5G
                - model: p3s
                  os: android
                  brand: Samsung
                  name: Galaxy S21 Ultra 5G
                - model: t2s
                  os: android
                  brand: Samsung
                  name: Galaxy S21+ 5G
                - model: wiseul
                  os: android
                  brand: Samsung
                  name: Galaxy Watch4 Classic
                - model: wiseus
                  os: android
                  brand: Samsung
                  name: Galaxy Watch4 Classic
                - model: x1s
                  os: android
                  brand: Samsung
                  name: Galaxy S20 5G
                - model: y2s
                  os: android
                  brand: Samsung
                  name: Galaxy S20+ 5G
                - model: z3s
                  os: android
                  brand: Samsung
                  name: Galaxy S20 Ultra 5G
                - model: JeridL
                  os: android
                  brand: Sharp
                  name: AQUOS sense4 lite SH-RM15
                - model: duo
                  os: android
                  brand: Surface
                  name: Surface Duo
                - model: TAG-TAB-III
                  os: android
                  brand: TAG-TECH
                  name: TAG-TAB-III
                - model: X_EEA
                  os: android
                  brand: Teclast
                  name: X_EEA
                - model: PQ6001
                  os: android
                  brand: Vsmart
                  name: Active 1
                - model: EC55
                  os: android
                  brand: Zebra
                  name: EC55
                - model: ET56L
                  os: android
                  brand: Zebra
                  name: ET56
                - model: ET56S
                  os: android
                  brand: Zebra
                  name: ET56
                - model: L10AW
                  os: android
                  brand: Zebra
                  name: Zebra Technologies L10
                - model: MC2700
                  os: android
                  brand: Zebra
                  name: Zebra Technologies MC2700
                - model: TC26
                  os: android
                  brand: Zebra
                  name: TC26
                - model: TC57
                  os: android
                  brand: Zebra
                  name: TC57
                - model: TC57X
                  os: android
                  brand: Zebra
                  name: Zebra Technologies TC57x
                - model: TC77
                  os: android
                  brand: Zebra
                  name: TC77
                - model: Z7750R
                  os: android
                  brand: ZTE
                  name: ZR01
                - model: iPad11,2
                  os: ios
                  brand: Apple
                  name: iPad mini 5th Gen
                - model: iPad11,4
                  os: ios
                  brand: Apple
                  name: iPad Air 3rd Gen
                - model: iPad11,7
                  os: ios
                  brand: Apple
                  name: iPad 8th Gen (WiFi+Cellular)
                - model: iPad13,10
                  os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - model: iPad13,11
                  os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - model: iPad13,2
                  os: ios
                  brand: Apple
                  name: iPad air 4th Gen (WiFi+Cellular)
                - model: iPad13,4
                  os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - model: 'iPad13,5 '
                  os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - model: iPad13,6
                  os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - model: iPad13,7
                  os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - model: iPad13,8
                  os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - model: iPad13,9
                  os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - model: iPad8,10
                  os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 4th Gen (WiFi+Cellular)
                - model: iPad8,12
                  os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 4th Gen (WiFi+Cellular)
                - model: iPad8,3
                  os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen (WiFi+Cellular)
                - model: iPad8,4
                  os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen (1TB, WiFi+Cellular)
                - model: iPad8,7
                  os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 3rd Gen (WiFi+Cellular)
                - model: iPad8,8
                  os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 3rd Gen (1TB, WiFi+Cellular)
                - model: iPhone11,2
                  os: ios
                  brand: Apple
                  name: iPhone XS
                - model: iPhone11,4
                  os: ios
                  brand: Apple
                  name: iPhone XS Max
                - model: iPhone11,6
                  os: ios
                  brand: Apple
                  name: iPhone XS Max Global
                - model: iPhone11,8
                  os: ios
                  brand: Apple
                  name: iPhone XR
                - model: iPhone12,1
                  os: ios
                  brand: Apple
                  name: iPhone 11
                - model: iPhone12,3
                  os: ios
                  brand: Apple
                  name: iPhone 11 Pro
                - model: iPhone12,5
                  os: ios
                  brand: Apple
                  name: iPhone 11 Pro Max
                - model: iPhone12,8
                  os: ios
                  brand: Apple
                  name: iPhone SE 2nd Gen
                - model: iPhone13,1
                  os: ios
                  brand: Apple
                  name: iPhone 12 Mini
                - model: iPhone13,2
                  os: ios
                  brand: Apple
                  name: iPhone 12
                - model: iPhone13,3
                  os: ios
                  brand: Apple
                  name: iPhone 12 Pro
                - model: iPhone13,4
                  os: ios
                  brand: Apple
                  name: iPhone 12 Pro Max
          headers: {}
          x-apidog-name: Compatible Device List (200)
      security: []
      x-apidog-folder: REST API/Endpoints/Compatible devices
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-11883037-run
      x-source-page: https://developers.partners.airalo.com/deprecated-get-compatible-device-list-11883037e0
  /v2/voucher/esim:
    post:
      summary: eSIM voucher
      deprecated: false
      description: "**Overview:**\nThe eSIM voucher endpoint lets you purchase Airalo eSIM activation\
        \ codes individually or in bulk. You can store these codes as inventory and distribute them to\
        \ customers through your own channels (e.g., website, app, email, CRM). Customers redeem the code\
        \ on the Airalo app or [Airalo website](https://www.airalo.com/) to install and activate the eSIM.\n\
        \n**Why choose vouchers:**\nVouchers offer a fast go‑to‑market path to provide connectivity without\
        \ implementing a full eSIM purchase and management flow. You can offer connectivity through eSIM\
        \ vouchers or Airmoney vouchers, while Airalo provides 24/7 customer support in 53 languages,\
        \ has a 90+ CSAT score, and takes full responsibility and liability for connectivity.\n\n**How\
        \ to use this endpoint:**\nThis endpoint is a good fit if you want to resell eSIMs (buy codes\
        \ at partner rates and set your own pricing), embed voucher fulfillment into your customer journey\
        \ (e.g., post‑purchase delivery), or manage inventory by buying in bulk and distributing codes\
        \ on demand. For order reconciliation, you can pass an optional `booking_reference` to link each\
        \ purchase to your internal order ID. Requests are sent as an array of voucher items—each specifying\
        \ a `package_id` and quantity—and the response returns activation codes you can deliver to your\
        \ customers.\n\nThis endpoint allows you to create an esim voucher to the Airalo Partners API.\
        \ Provide the required information, such as quantity and package ID. The access token, obtained\
        \ from the \"Request Access Token\" endpoint, should be included in the request. \n\nFor more\
        \ information and best practices visit our [FAQ page](https://developers.partners.airalo.com/faq-752238m0).\n\
        \n**Body structure:**\n\n``` json\n{\n    \"vouchers\": [\n        {\n            \"package_id\"\
        : \"replace with actual package slug\",\n            \"quantity\": 3,\n            \"booking_reference\"\
        : \"123\"\n        }\n    ]\n}\n\n ```\n\n**Request parameters:**\n\n- **vouchers** (array, required):\n\
        \    \n    - An array of voucher objects to be created for eSIMs. Each voucher object contains\
        \ the following fields:\n        \n        - **package_id** (string, required):\n            \n\
        \            - The unique identifier (slug) of the eSIM package for which the voucher is being\
        \ issued.\n                \n            - Example: \"package_id\": \"eu-europe-5gb-30days\"\n\
        \                \n        - **quantity** (integer, required):\n            \n            - The\
        \ number of vouchers you wish to purchase for the specified package.\n                \n     \
        \       - Example: \"quantity\": 3\n                \n        - **booking_reference** (string,\
        \ optional):\n            \n            - A field used to store the booking reference for this\
        \ voucher, which can be used for tracking purposes in your own system.\n                \n   \
        \         - Example: \"booking_reference\": \"123\"\n                \n            - If not provided,\
        \ this field will be ignored."
      tags:
      - REST API/Endpoints/Place order
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        package_id:
                          type: string
                        codes:
                          type: array
                          items:
                            type: string
                        booking_reference:
                          type: string
                      required:
                      - package_id
                      - codes
                      - booking_reference
                      x-apidog-orders:
                      - package_id
                      - codes
                      - booking_reference
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
              examples:
                '1':
                  summary: Esim voucher
                  value: "{\n    \"data\": [\n        {\n            \"package_id\": \"jaco-mobile-7days-1gb\"\
                    ,\n            \"codes\": [\n                \"BIXLAAAA\",\n                \"BSXLAAAA\"\
                    \n            ],\n            \"booking_reference\": \"123\"\n        },\n       \
                    \ {\n            \"package_id\": \"liberation-mobile-30days-3gb\",\n            \"\
                    codes\": [\n                \"1HKGDUMP\"\n            ],\n            \"booking_reference\"\
                    : \"123\"\n        }\n    ],\n    \"meta\": {\n        \"message\": \"success\"\n\
                    \    }\n}"
                '2':
                  summary: Esim voucher error
                  value: "{\n    \"data\": {\n        \"vouchers.0.package_id\": \"The selected vouchers.0.package_id\
                    \ is invalid\"\n    },\n    \"meta\": {\n        \"message\": \"the parameter is invalid\"\
                    \n    }\n}"
          headers: {}
          x-apidog-name: Esim voucher
        x-200:Esim voucher error:
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      vouchers.0.package_id:
                        type: string
                    required:
                    - vouchers.0.package_id
                    x-apidog-orders:
                    - vouchers.0.package_id
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Esim voucher error
      security: []
      x-apidog-folder: REST API/Endpoints/Place order
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-11883065-run
      x-source-page: https://developers.partners.airalo.com/esim-voucher-11883065e0
  /v2/future-orders:
    post:
      summary: Future orders
      deprecated: false
      description: "This endpoint allows you to submit an order to the Airalo Partner API, which will\
        \ be created on the specified due date.\n\nTo proceed, provide the required information:\n- Due\
        \ date\n- Quantity\n- Package ID\n- Description (optional)\n\nPlease note:\n- On success, the\
        \ endpoint response will include a unique 25-character request_id.\n- You must store this value\
        \ in your system to cancel the order later if needed and to know for which order you got a response\
        \ on your webhook URL.\n- An access token from the \"Request Access Token\" endpoint is required\
        \ in the request.\n\n\n**Delivery modes**\n**What is a webhook URL?**\nWebhook URL is a URL that\
        \ is configured on your domain and your won webserver.\nThat URL should be able to receive HTTP\
        \ POST requests with your order data that will be sent from our servers .\nNOTE: We check the\
        \ liveness of your webhook URL with an HTTP HEAD request to which we expect 200 OK response.\n\
        \n**What happens when the due date arrives?**\nWhen the due date arrives your order is processed\
        \ and the order details are sent as a POST HTTP request to \neither your opted in \"async_orders\"\
        \ notification type url (more info [here](https://partner-api-airalo.apidog.io/async-orders-11883038e0)\
        \ )\nor on the \"webhhok_url\" optional parameter of this endpoint which overrides the above opted\
        \ in URL.\nNOTE that you must have one of the above (either opted in URL or webhhok_url) provided\
        \ in order to make a future order.\n\nif you provide the optional parameter \"sharing_option\"\
        , which goes together with the \"to_email\" parameter \nthen an email with the eSim details will\
        \ also be sent to the email provided in the \"to_email\" parameter as well.\nDepending from the\
        \ selected sharing option which can be one of link or pdf or both you will get the eSim data \n\
        either in a PDF format attached to the email or as a link.\n\n**What is the format of the message\
        \ that is sent to the webhook URL?**\nThe format of the message that is sent to the webhook URL\
        \ is the same as the response of the [regular order](https://partner-api-airalo.apidog.io/submit-order-11883024e0).\n\
        It only has one additional parameter named \"request_id\" which is the same request_id that you\
        \ got in the response \nwhen you made the future order at the time of making the order, \nso that\
        \ you know for which future order you got details on your webhook URL.\n\n\n**SANBOX MODE**\n\n\
        NOTE that this endpoint has a slightly different behaviour in sandbox mode.\nHere are the differences.\n\
        1. In sandbox mode the future orders will not be processed on the actual due date but they will\
        \ be processed immediatelly upon submission.\n2. Because the future orders are not processed on\
        \ the due date, their status is always processed so in order to simulate future orders with other\
        \ statuses there are 3 special packages for that. Here are the pacakges with the explanations:\n\
        \    - `test-create-pending-future-order-7days-1gb` - special package for creating a future order\
        \ with pending status\n    - `test-create-failed-future-order-7days-1gb` - special package for\
        \ creating a future order with failed status\n    - `test-create-retry-future-order-7days-1gb`\
        \ - special package for creating a future order with retry status \n\nBy using the packages above\
        \ future orders with the above statuses can be created and the `request_id` from those orders\
        \ can be used to test the [cancel future order API](https://app.apidog.com/link/project/742850/apis/api-14459873)\
        \ to cancel the future order.\n\nBy using the above packages you can also test the [GET future\
        \ orders API Endpoint](https://app.apidog.com/link/project/742850/apis/api-21307288?branchId=1052533)\
        \ to test the filters as well."
      tags:
      - REST API/Endpoints/Place order
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  description: The quantity of items in the order. Maximum of 50.
                  x-apidog-mock: '{{$string.numeric}}'
                  minimum: 1
                  maximum: 50
                package_id:
                  type: string
                  description: Required. The package ID associated with the order. You can obtain this
                    from the "Packages / Get Packages" endpoint.
                  examples:
                  - kallur-digital-7days-1gb
                due_date:
                  type: string
                  examples:
                  - 2025-03-28 10:00
                  format: date-time
                  description: Required. Date and time string field in the format YYYY-MM-DD HH:MM. This
                    date must be minimum two days in the future from current time and maximum 1 year in
                    the future. The order processing starts at the moment the due date arrives.
                to_email:
                  type: string
                  description: 'If specified, email with esim sharing will be sent. sharing_option should
                    be specified as well.


                    '
                  examples:
                  - valid_email@address.com
                sharing_option:
                  type: array
                  items:
                    type: string
                    enum:
                    - link
                    - pdf
                    x-apidog-enum:
                    - value: link
                      name: ''
                      description: ''
                    - value: pdf
                      name: ''
                      description: ''
                  description: 'Array. Required when to_email is set. Available options: link, pdf'
                copy_address:
                  type: string
                  description: Array. It is used when to_email is set.
                  examples:
                  - '["valid_email@address.com"]'
                webhook_url:
                  type: string
                  description: Optional. A custom, valid url to which you will receive the order details
                    data asynchronously. Note that you can optin or provide in request. The webhook_url
                    if provided in payload will overwrite the one which is opted in.
                description:
                  type: string
                  description: Optional. A custom description for the order, which can help you identify
                    it later.
                brand_settings_name:
                  type: string
                  description: Nullable. The definition under what brand the eSIM should be shared. Null
                    for unbranded.
                  examples:
                  - our perfect brand
                  nullable: true
              x-apidog-orders:
              - quantity
              - package_id
              - due_date
              - to_email
              - sharing_option
              - copy_address
              - webhook_url
              - description
              - brand_settings_name
              required:
              - package_id
              - quantity
              - due_date
            examples:
              '1':
                value:
                  quantity: 1
                  package_id: change-7days-1gb
                  due_date: 2025-04-09 10:00
                  description: Just a future order ..
                  webhook_url: http://somePartnerDomain.com/webhook-url-path-to-wait-for-the order-details
                summary: Request with "webhook_url"
                description: "Request with \"webhook_url\"\nWith this request a future order will be created\
                  \ that will be processed on date 2025-04-09 10:00 and when the ordfer is complete the\
                  \ order details will be delivered to the URL provided in the \"webhook_url\" parameter.\
                  \ \nNOTE that this URL is a URL that is hosted by your webserver."
              '2':
                value:
                  quantity: 1
                  package_id: kallur-digital-7days-1gb
                  due_date: 2025-03-28 10:00
                  to_email: valid_email@address.com
                  sharing_option: '["link", "pdf"]'
                  copy_address: '["valid_email@address.com"]'
                  webhook_url: string
                  description: string
                  brand_settings_name: our perfect brand
                summary: Request with all parameters
                description: Example request with all available options
              '3':
                value:
                  quantity: 1
                  package_id: change-30days-5gb
                  due_date: 2025-07-19 10:00
                  to_email: someEmail@example.com
                  description: Future order with sharing option
                  sharing_option:
                  - link
                  - pdf
                summary: Request with "sharing_option"
                description: 'Request with "sharing_option"

                  This request includes the "sharing_option" parameter which goes together with the "to_email"
                  parameter.

                  In the "to_email" parameter an email to which the eSim data will be delivered is provided,

                  NOTE that "webhook_url" parameter here is not provided and its assumed that its alredy
                  opted in via our opt in endpoint. If you dont  already have that done you will need
                  to add a "webhook_url" parameter as well.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      request_id:
                        type: string
                        description: A unique string from 25 charachers for your submitted order that
                          you can use it later to make other operations on the order. For example to cancel
                          it if needed.
                      due_date:
                        type: string
                        description: The submitted due date with the order
                      latest_cancellation_date:
                        type: string
                        description: Latest cancelation date
                    required:
                    - request_id
                    - due_date
                    - latest_cancellation_date
                    x-apidog-orders:
                    - request_id
                    - due_date
                    - latest_cancellation_date
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
              examples:
                '1':
                  summary: Submit Future Order (200)
                  value:
                    data:
                      request_id: 9HrK4-KGgz8n71eGgdNS5cV7Y
                      due_date: 2025-03-28 10:00
                      latest_cancellation_date: 2025-03-27 10:00
                    meta:
                      message: success
                '2':
                  summary: Validation error
                  value:
                    data:
                      quantity: The quantity must be at least 1.
                    meta:
                      message: the parameter is invalid
                '3':
                  summary: Invalid package error
                  value:
                    code: 34
                    reason: The requested eSIM package is invalid or it is currently out of stock. Please
                      try again later.
                '4':
                  summary: Invalid due date
                  value:
                    data:
                      due_date: Minimum due date must be at least the day after tomorrow in UTC timezone.
                    meta:
                      message: the parameter is invalid
                '5':
                  summary: Invalid sharing option
                  value:
                    data:
                      sharing_option(1): 'Sharing option on position 1 is invalid. Available options are:
                        ''link'' and ''pdf''.'
                    meta:
                      message: the parameter is invalid
          headers: {}
          x-apidog-name: 'Submit Future Order '
        '422':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      quantity:
                        type: string
                    required:
                    - quantity
                    x-apidog-orders:
                    - quantity
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Quantity validation error
        x-422:Invalid package validation error:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  reason:
                    type: string
                required:
                - code
                - reason
                x-apidog-orders:
                - code
                - reason
          headers: {}
          x-apidog-name: Invalid package validation error
        x-422:Invalid due date validation error:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      due_date:
                        type: string
                    required:
                    - due_date
                    x-apidog-orders:
                    - due_date
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Invalid due date validation error
        x-422:Invalid sharing option:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sharing_option(1):
                        type: string
                    required:
                    - sharing_option(1)
                    x-apidog-orders:
                    - sharing_option(1)
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Invalid sharing option
      security: []
      x-apidog-folder: REST API/Endpoints/Place order
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-14455445-run
      x-source-page: https://developers.partners.airalo.com/future-orders-14455445e0
    get:
      summary: Future Orders
      deprecated: false
      description: "This endpoint allows you to get all your submitted future orders that are in pending,\
        \ failed or retry status\nThe following filter parameters are available:\n\n - `status` (optional)\
        \ -  Defaults to pending. Other possible statuses are: failed and retry\n - `limit` (optional)\
        \ - Defaults to 25. Limit the returned results\n - `from_due_date` - Datetime field in the format:\
        \ Y-m-d H:i. Filters data starting from this date forward. Example: 2025-02-27 10:00\n - `to_due_date`\
        \ - Datetime field in the format: Y-m-d H:i. Filters data starting from this date backward. Example:\
        \ 2025-02-27 10:00\n\nNote that all already processed orders will not be displayed here."
      tags:
      - REST API/Endpoints/Manage orders
      parameters:
      - name: status
        in: query
        description: 'Defaults to pending. Other possible status options: failed, retry'
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Limit the returned results
        required: false
        schema:
          type: string
      - name: from_due_date
        in: query
        description: 'Date in format: 2025-02-27 10:00'
        required: false
        schema:
          type: string
      - name: to_due_date
        in: query
        description: 'Date in format: 2025-02-27 10:00'
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: false
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties: {}
            examples: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        request_id:
                          type: string
                        quantity:
                          type: integer
                        description:
                          type: string
                        status:
                          type: string
                        package_id:
                          type: string
                        due_date:
                          type: string
                        latest_cancellation_date:
                          type: string
                      required:
                      - request_id
                      - quantity
                      - description
                      - status
                      - package_id
                      - due_date
                      - latest_cancellation_date
                      x-apidog-orders:
                      - request_id
                      - quantity
                      - description
                      - status
                      - package_id
                      - due_date
                      - latest_cancellation_date
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: 'null'
                      next:
                        type: string
                    required:
                    - first
                    - last
                    - prev
                    - next
                    x-apidog-orders:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                      current_page:
                        type: integer
                      from:
                        type: integer
                      last_page:
                        type: integer
                      path:
                        type: string
                      per_page:
                        type: string
                      to:
                        type: integer
                      total:
                        type: integer
                    required:
                    - message
                    - current_page
                    - from
                    - last_page
                    - path
                    - per_page
                    - to
                    - total
                    x-apidog-orders:
                    - message
                    - current_page
                    - from
                    - last_page
                    - path
                    - per_page
                    - to
                    - total
                required:
                - data
                - links
                - meta
                x-apidog-orders:
                - data
                - links
                - meta
              examples:
                '1':
                  summary: Success
                  value:
                    data:
                    - request_id: ehFeHAa_R1GyIgHxNrP6Iz0Hy
                      quantity: 1
                      description: ''
                      status: pending
                      package_id: change-7days-1gb
                      due_date: 2025-03-24 10:00
                      latest_cancellation_date: 2025-03-23 10:00
                    - request_id: UPMpgaC9rWr799augw9KbI_ia
                      quantity: 1
                      description: ''
                      status: pending
                      package_id: change-7days-1gb
                      due_date: 2025-02-27 10:00
                      latest_cancellation_date: 2025-02-26 10:00
                    - request_id: -s5Cx8jTjvx2UH_euzhaHbwiu
                      quantity: 1
                      description: ''
                      status: pending
                      package_id: change-7days-1gb
                      due_date: 2025-02-27 10:00
                      latest_cancellation_date: 2025-02-26 10:00
                    links:
                      first: https://partners-api.airalo.com/v2/future-orders?filter%5B%27status%27%5D=%27failed%27&status=pending&page=1
                      last: https://partners-api.airalo.com/v2/future-orders?filter%5B%27status%27%5D=%27failed%27&status=pending&page=3
                      prev: null
                      next: https://partners-api.airalo.com/v2/future-orders?filter%5B%27status%27%5D=%27failed%27&status=pending&page=2
                    meta:
                      message: success
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: https://partners-api.airalo.com/v2/future-orders
                      per_page: '25'
                      to: 3
                      total: 3
                '2':
                  summary: Success
                  value:
                    data:
                      from_due_date: The from due date is not a valid date.
                    meta:
                      message: the parameter is invalid
          headers: {}
          x-apidog-name: Success
        '422':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      from_due_date:
                        type: string
                    required:
                    - from_due_date
                    x-apidog-orders:
                    - from_due_date
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: 'Invalid from due date '
      security: []
      x-apidog-folder: REST API/Endpoints/Manage orders
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-21307288-run
      x-source-page: https://developers.partners.airalo.com/future-orders-21307288e0
  /v2/balance:
    get:
      summary: Get balance
      deprecated: false
      description: 'This feature allow you to know your account balances, so you can have an overview
        on your financial portfolio. You can monitor my balances and can top-up my Airalo credit to avoid
        order failing due to Insufficient funds If there is no account, the response should be an empty
        array for the accounts


        For more information and best practices visit our [FAQ page](https://developers.partners.airalo.com/faq-752238m0)

        '
      tags:
      - REST API/Endpoints/Check balance
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      balances:
                        type: object
                        properties:
                          name:
                            type: string
                          availableBalance:
                            type: object
                            properties:
                              amount:
                                type: integer
                              currency:
                                type: string
                            required:
                            - amount
                            - currency
                            x-apidog-orders:
                            - amount
                            - currency
                        required:
                        - name
                        - availableBalance
                        x-apidog-orders:
                        - name
                        - availableBalance
                    required:
                    - balances
                    x-apidog-orders:
                    - balances
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
          headers: {}
          x-apidog-name: Get balance
      security: []
      x-apidog-folder: REST API/Endpoints/Check balance
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-11883045-run
      x-source-page: https://developers.partners.airalo.com/get-balance-11883045e0
  /v2/compatible-devices-lite:
    get:
      summary: Get compatible device lite list
      deprecated: false
      description: "This endpoint provides a comprehensive list of devices that are compatible with eSIMs.\
        \ Use this information to ensure that your customers have devices that support eSIM functionality.\
        \  \n\n#### Important Notes  \n- Include the access token, obtained from the **Request Access\
        \ Token** endpoint, in the request headers to authenticate your API call.  \n- The returned list\
        \ is regularly updated to include the latest compatible devices, ensuring accurate and reliable\
        \ information for your integration.  \n- Use this endpoint to validate device compatibility before\
        \ processing eSIM orders.  "
      tags:
      - REST API/Endpoints/Compatible devices
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        os:
                          type: string
                        brand:
                          type: string
                        name:
                          type: string
                      required:
                      - os
                      - brand
                      - name
                      x-apidog-orders:
                      - os
                      - brand
                      - name
                required:
                - data
                x-apidog-orders:
                - data
              example:
                data:
                - os: android
                  brand: bq
                  name: Aquaris X2
                - os: android
                  brand: bq
                  name: Aquaris X2 PRO
                - os: android
                  brand: Evolveo
                  name: EVOLVEO StrongPhone G9
                - os: android
                  brand: Fossil
                  name: Fossil Gen 5 LTE
                - os: android
                  brand: Google
                  name: Pixel 3
                - os: android
                  brand: Google
                  name: Pixel 3a XL
                - os: android
                  brand: Google
                  name: Pixel 4a (5G)
                - os: android
                  brand: Google
                  name: Pixel 4 XL
                - os: android
                  brand: Google
                  name: Pixel 3 XL
                - os: android
                  brand: Google
                  name: Pixel 4
                - os: android
                  brand: Google
                  name: Pixel 5
                - os: android
                  brand: Google
                  name: Pixel 3a
                - os: android
                  brand: Google
                  name: Pixel 4a
                - os: android
                  brand: Google
                  name: Pixel 2 XL
                - os: android
                  brand: Google
                  name: Pixel 2
                - os: android
                  brand: Hoozo
                  name: HZ0010J
                - os: android
                  brand: Lenovo
                  name: d-42A
                - os: android
                  brand: MiTAC
                  name: N672
                - os: android
                  brand: MiTAC
                  name: N630
                - os: android
                  brand: Mobvoi
                  name: TicWatch Pro 3 Cellular/LTE
                - os: android
                  brand: Montblanc
                  name: Summit 2+
                - os: android
                  brand: Motorola
                  name: motorola razr
                - os: android
                  brand: Motorola
                  name: motorola razr 5G
                - os: android
                  brand: Motorola Solutions
                  name: MOTOTRBO ION
                - os: android
                  brand: Myphone
                  name: Hammer Blade 3
                - os: android
                  brand: Myphone
                  name: Hammer Explorer Pro
                - os: android
                  brand: Myphone
                  name: myPhone Now eSIM
                - os: android
                  brand: MyPhone (PL)
                  name: Hammer_Explorer
                - os: android
                  brand: Oppo
                  name: Reno6 Pro+ 5G
                - os: android
                  brand: Oppo
                  name: Find X3 Pro
                - os: android
                  brand: Oppo
                  name: OPPO Watch
                - os: android
                  brand: Premier
                  name: TAB-7304-16G3GS
                - os: android
                  brand: Rakuten
                  name: C330
                - os: android
                  brand: Rakuten
                  name: Rakuten BIG s
                - os: android
                  brand: Rakuten
                  name: Rakuten Hand
                - os: android
                  brand: Samsung
                  name: Galaxy Z Flip3 5G
                - os: android
                  brand: Samsung
                  name: Galaxy Z Flip
                - os: android
                  brand: Samsung
                  name: Galaxy Z Flip 5G
                - os: android
                  brand: Samsung
                  name: Galaxy Note20 5G
                - os: android
                  brand: Samsung
                  name: Galaxy Note20
                - os: android
                  brand: Samsung
                  name: Galaxy Note20 Ultra 5G
                - os: android
                  brand: Samsung
                  name: Galaxy Note20 Ultra
                - os: android
                  brand: Samsung
                  name: Galaxy Watch4
                - os: android
                  brand: Samsung
                  name: Galaxy Watch4
                - os: android
                  brand: Samsung
                  name: Galaxy S21 5G
                - os: android
                  brand: Samsung
                  name: Galaxy S21 Ultra 5G
                - os: android
                  brand: Samsung
                  name: Galaxy S21+ 5G
                - os: android
                  brand: Samsung
                  name: Galaxy Watch4 Classic
                - os: android
                  brand: Samsung
                  name: Galaxy Watch4 Classic
                - os: android
                  brand: Samsung
                  name: Galaxy S20 5G
                - os: android
                  brand: Samsung
                  name: Galaxy S20+ 5G
                - os: android
                  brand: Samsung
                  name: Galaxy S20 Ultra 5G
                - os: android
                  brand: Sharp
                  name: AQUOS sense4 lite SH-RM15
                - os: android
                  brand: Surface
                  name: Surface Duo
                - os: android
                  brand: TAG-TECH
                  name: TAG-TAB-III
                - os: android
                  brand: Teclast
                  name: X_EEA
                - os: android
                  brand: Vsmart
                  name: Active 1
                - os: android
                  brand: Zebra
                  name: EC55
                - os: android
                  brand: Zebra
                  name: ET56
                - os: android
                  brand: Zebra
                  name: ET56
                - os: android
                  brand: Zebra
                  name: Zebra Technologies L10
                - os: android
                  brand: Zebra
                  name: Zebra Technologies MC2700
                - os: android
                  brand: Zebra
                  name: TC26
                - os: android
                  brand: Zebra
                  name: TC57
                - os: android
                  brand: Zebra
                  name: Zebra Technologies TC57x
                - os: android
                  brand: Zebra
                  name: TC77
                - os: android
                  brand: ZTE
                  name: ZR01
                - os: ios
                  brand: Apple
                  name: iPad mini 5th Gen
                - os: ios
                  brand: Apple
                  name: iPad Air 3rd Gen
                - os: ios
                  brand: Apple
                  name: iPad 8th Gen (WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - os: ios
                  brand: Apple
                  name: iPad air 4th Gen (WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen
                - os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 5th Gen
                - os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 4th Gen (WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 4th Gen (WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen (WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPad Pro 11 inch 3rd Gen (1TB, WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 3rd Gen (WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPad Pro 12.9 inch 3rd Gen (1TB, WiFi+Cellular)
                - os: ios
                  brand: Apple
                  name: iPhone XS
                - os: ios
                  brand: Apple
                  name: iPhone XS Max
                - os: ios
                  brand: Apple
                  name: iPhone XS Max Global
                - os: ios
                  brand: Apple
                  name: iPhone XR
                - os: ios
                  brand: Apple
                  name: iPhone 11
                - os: ios
                  brand: Apple
                  name: iPhone 11 Pro
                - os: ios
                  brand: Apple
                  name: iPhone 11 Pro Max
                - os: ios
                  brand: Apple
                  name: iPhone SE 2nd Gen
                - os: ios
                  brand: Apple
                  name: iPhone 12 Mini
                - os: ios
                  brand: Apple
                  name: iPhone 12
                - os: ios
                  brand: Apple
                  name: iPhone 12 Pro
                - os: ios
                  brand: Apple
                  name: iPhone 12 Pro Max
          headers: {}
          x-apidog-name: Compatible Device List (200)
      security: []
      x-apidog-folder: REST API/Endpoints/Compatible devices
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-19504054-run
      x-source-page: https://developers.partners.airalo.com/get-compatible-device-lite-list-19504054e0
  /v2/sims/{sim_iccid}:
    get:
      summary: Get eSIM
      deprecated: false
      description: 'This endpoint allows you to retrieve the details of a specific eSIM from the Airalo
        Partners API using the eSIM''s ICCID. Note that only eSIM orders made via the API are retrievable
        via this endpoint. You can include related data in the response by specifying optional parameters.


        The access token, obtained from the "Request Access Token" endpoint, should be included in the
        request.


        For more information and best practices visit our [FAQ page](https://developers.partners.airalo.com/faq-752238m0)


        **direct_apple_installation_url:**


        Partner API now supports direct installation on iOS devices. With the introduction of Universal
        Links by Apple, users with iOS 17.4 or higher can directly install eSIMs using a special URL,
        which can be provided to your end clients if they are using iOS version 17.4 or above.'
      tags:
      - REST API/Endpoints/Install eSIM
      parameters:
      - name: sim_iccid
        in: path
        description: The ICCID of the eSIM for which you want to retrieve the details.
        required: true
        example: ''
        schema:
          type: string
      - name: include
        in: query
        description: Optional. A comma-separated string to include related data in the response. Possible
          values are "order", "order.status", "order.user" and "share".
        required: false
        example: order,order.status,order.user,share
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      created_at:
                        type: string
                      iccid:
                        type: string
                      lpa:
                        type: string
                      imsis:
                        type: 'null'
                      matching_id:
                        type: string
                      qrcode:
                        type: string
                      qrcode_url:
                        type: string
                      direct_apple_installation_url:
                        type: string
                      voucher_code:
                        type: 'null'
                      airalo_code:
                        type: 'null'
                      apn_type:
                        type: string
                      apn_value:
                        type: 'null'
                      is_roaming:
                        type: boolean
                      confirmation_code:
                        type: string
                      order:
                        type: 'null'
                      brand_settings_name:
                        type: string
                      simable:
                        type: object
                        properties:
                          id:
                            type: integer
                          created_at:
                            type: string
                          code:
                            type: string
                          description:
                            type: 'null'
                          type:
                            type: string
                          package_id:
                            type: string
                          quantity:
                            type: integer
                          package:
                            type: string
                          esim_type:
                            type: string
                          validity:
                            type: string
                          price:
                            type: string
                          data:
                            type: string
                          currency:
                            type: string
                          manual_installation:
                            type: string
                          qrcode_installation:
                            type: string
                          installation_guides:
                            type: object
                            properties:
                              en:
                                type: string
                            required:
                            - en
                            x-apidog-orders:
                            - en
                          status:
                            type: object
                            properties:
                              name:
                                type: string
                              slug:
                                type: string
                            required:
                            - name
                            - slug
                            x-apidog-orders:
                            - name
                            - slug
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                              created_at:
                                type: string
                              name:
                                type: string
                              email:
                                type: string
                              mobile:
                                type: 'null'
                              address:
                                type: 'null'
                              state:
                                type: 'null'
                              city:
                                type: 'null'
                              postal_code:
                                type: 'null'
                              country_id:
                                type: 'null'
                              company:
                                type: string
                            required:
                            - id
                            - created_at
                            - name
                            - email
                            - mobile
                            - address
                            - state
                            - city
                            - postal_code
                            - country_id
                            - company
                            x-apidog-orders:
                            - id
                            - created_at
                            - name
                            - email
                            - mobile
                            - address
                            - state
                            - city
                            - postal_code
                            - country_id
                            - company
                          sharing:
                            type: object
                            properties:
                              link:
                                type: string
                              access_code:
                                type: string
                            required:
                            - link
                            - access_code
                            x-apidog-orders:
                            - link
                            - access_code
                        required:
                        - id
                        - created_at
                        - code
                        - description
                        - type
                        - package_id
                        - quantity
                        - package
                        - esim_type
                        - validity
                        - price
                        - data
                        - currency
                        - manual_installation
                        - qrcode_installation
                        - installation_guides
                        - status
                        - user
                        - sharing
                        x-apidog-orders:
                        - id
                        - created_at
                        - code
                        - description
                        - type
                        - package_id
                        - quantity
                        - package
                        - esim_type
                        - validity
                        - price
                        - data
                        - currency
                        - manual_installation
                        - qrcode_installation
                        - installation_guides
                        - status
                        - user
                        - sharing
                      recycled:
                        type: boolean
                        description: true - if sim is recycled. - false - otherwise
                      recycled_at:
                        type: string
                        format: date-time
                        description: Timestamp of when the sim was recycled in format Y-m-d H:i:s
                        nullable: true
                    required:
                    - id
                    - created_at
                    - iccid
                    - lpa
                    - imsis
                    - matching_id
                    - qrcode
                    - qrcode_url
                    - direct_apple_installation_url
                    - voucher_code
                    - airalo_code
                    - apn_type
                    - apn_value
                    - is_roaming
                    - confirmation_code
                    - order
                    - brand_settings_name
                    - simable
                    - recycled
                    - recycled_at
                    x-apidog-orders:
                    - id
                    - created_at
                    - iccid
                    - lpa
                    - imsis
                    - matching_id
                    - qrcode
                    - qrcode_url
                    - direct_apple_installation_url
                    - voucher_code
                    - airalo_code
                    - apn_type
                    - apn_value
                    - is_roaming
                    - confirmation_code
                    - order
                    - brand_settings_name
                    - recycled
                    - recycled_at
                    - simable
                  meta:
                    type: object
                    properties:
                      message:
                        type: string
                    required:
                    - message
                    x-apidog-orders:
                    - message
                required:
                - data
                - meta
                x-apidog-orders:
                - data
                - meta
              example:
                data:
                  id: 11028
                  created_at: '2023-02-27 08:30:14'
                  iccid: '8944465400000267221'
                  lpa: lpa.airalo.com
                  imsis: null
                  matching_id: TEST
                  qrcode: LPA:1$lpa.airalo.com$TEST
                  qrcode_url: https://sandbox.airalo.com/qr?expires=1763800214&id=13282&signature=93bc1599eaaea3175eb32a9f23b3961273e97f04c50ba1b57b68ac99bc6677df
                  direct_apple_installation_url: https://esimsetup.apple.com/esim_qrcode_provisioning?carddata=LPA:1$wbg.prod.ondemandconnectivity.com$Y7MRQ886FCDJD4RH
                  voucher_code: null
                  airalo_code: null
                  apn_type: automatic
                  apn_value: null
                  is_roaming: true
                  confirmation_code: '5751'
                  order: null
                  brand_settings_name: our perfect brand
                  recycled: true
                  recycled_at: '2025-05-05 10:52:39'
                  simable:
                    id: 9647
                    created_at: '2023-02-27 08:30:14'
                    code: 20230227-009647
                    description: null
                    type: sim
                    package_id: kallur-digital-7days-1gb
                    quantity: 1
                    package: Kallur Digital-1 GB - 7 Days
                    esim_type: Prepaid
                    validity: '7'
                    price: '9.50'
                    data: 1 GB
                    currency: USD
                    manual_installation: '<p><b>eSIM name: </b>Kallur Digital</p><p><b>Coverage:</b> Faroe
                      Islands</p><p><b>To manually activate the eSIM on your eSIM capable device:</b></p><p>1.
                      Settings> Cellular/Mobile> Add Cellular/Mobile Plan.</p><p>2. Manually enter the
                      SM-DP+ Address and activation code.</p><p>3. Confirm the eSIM plan details</p><p>4.
                      Label the eSIM.</p><p><b>To access Data:</b></p><p>1. Enable data roaming.</p><p><b>To
                      top-up:</b></p><p></p><p>Visit airalo.com/my-esims or "My eSIMs" tab in your Airaloo
                      app.</p><p><br></p>'
                    qrcode_installation: '<p><b>eSIM name:</b> Kallur Digital</p><p><b>Coverage: </b>Faroe
                      Islands</p><p><b>To activate the eSIM by scanning the QR code on your eSIM capable
                      device you need to print or display this QR code on other device:</b></p><p>1. Settings>
                      Cellular/Mobile> Add Cellular/Mobile Plan.</p><p>2. Scan QR code</p><p>3. Confirm
                      the eSIM plan details</p><p>4. Label the eSIM</p><p><b>To access Data:</b></p><p>1.
                      Enable data roaming</p>'
                    installation_guides:
                      en: https://sandbox.airalo.com/installation-guide
                    status:
                      name: Completed
                      slug: completed
                    user:
                      id: 120
                      created_at: '2023-02-20 08:41:57'
                      name: User Name
                      email: email@domain.com
                      mobile: null
                      address: null
                      state: null
                      city: null
                      postal_code: null
                      country_id: null
                      company: Company Name
                    sharing:
                      link: https://esims.cloud/our-perfect-brand/a4g5ht-58sdf1a
                      access_code: '4812'
                meta:
                  message: succes
          headers: {}
          x-apidog-name: Get eSIM (200)
      security: []
      x-apidog-folder: REST API/Endpoints/Install eSIM
      x-apidog-status: released
      x-run-in-apidog: https://app.apidog.com/web/project/742850/apis/api-11883028-run
      x-source-page: https://developers.partners.airalo.com/get-esim-11883028e0
  /v2/sims/{iccid}/packages:
    get:
      summary: Get  eSIM package history
      deprecated: false
      description: ":::highlight blue \U0001F4A1\n**This endpoint comes with a Rate Limit:** 10 requests\
        \ per minute per unique ICCID. \n:::\n\n\n**Note for unlimited packages** \n- For unlimited packages\
        \ the `remaining`, `total` and `amount` fields will default to `0` should be ignored, and not\
        \ displayed to the end users.\n- When in [Sandbox mode](https://developers.partners.airalo.com/sandbox-mode-2114305m0),\
        \ the `is_unlimited` field can be `false` for an unlimited package ordered, due to not having\
        \ real eSIMs available, thus don't reflect real usage.\n\n**GDPR and Data Storage** \nFor compliance\
        \ with GDPR and global privacy regulations, Airalo does not store any of your end-users' personally\
        \ identifiable information (PII). You are solely responsible for handling and storing all customer\
        \ data on your end.\n\n**Associating eSIMs with Customers** \nTo retrieve or manage all eSIMs\
        \ associated with a specific customer, you must store and map the customer's data to the ICCID\
        \ within your own system. The ICCID is the primary identifier for managing an eSIM post-purchase.\n\
        \n\n**Please, use a caching mechanism on the client side to deal with frequent customer requests.**\n\
        \n**To get and display this eSIM’s data package history, including top-ups:**\n\n\n- Make a request\
        \ to [GET eSIM package history](https://developers.partners.airalo.com/get-esim-package-history-11883032e0),\
        \ providing the `iccid` of the eSIM for which you want to retrieve top-up package for.\n- The\
        \ API will respond with a JSON object containing an array of purchased top-up packages for the\
        \ eSIM, each of which includes an ID, remaining data amount, activation and expiration dates,\
        \ and other relevant information.\n\nFor more information and best practices visit our [FAQ page](https://developers.partners.airalo.com/faq-752238m0)\n"
      tags:
      - REST API/Endpoints/Manage eSIMs
      parameters:
      - name: iccid
        in: path
        description: 'eSIM ICCID, used to query a list of purchased packages, including top-ups. Required.
          Can be obtained by execuring GET to the "eSIMs List" endpoint

          '
        required: true
        example: '8910300000005271146'
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: Bearer {{token}}
        schema:
          type: string
      - name: url
        in: header
        description: ''
        example: https://partners-api.airalo.com
        schema:
          type: string
          default: https://partners-api.airalo.com
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  pricing:
                    type: object
                    properties:
                      model:
                        type: string
                      discount_percentage:
                        type: integer
                    required:
                    - model
                    - discount_percentage
                    x-apidog-orders:
                    - model
                    - discount_percentage
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        status:
                          type: string
                        remaining:
                          type: integer
                        activated_at:
                          type: string
                        expired_at:
                          type: string
                        finished_at:
                          type: 'null'
                        package:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                            price:
                              type: integer
                            net_price:
                              type: integer
                            amount:
                              type: integer
                            day:
                              type: integer
                            is_unlimited:
                              type: boolean
                            title:
                              type: string
                            data:
                              type: string
                            short_info:
                              type: 'null'
                          required:
                          - id
                          - type
                          - price
                          - net_price
                          - amount
                          - day
                          - is_unlimited
                          - title
                          - data
                          - short_info
                          x-apidog-orders:
                          - id
                          - type
                          - price
                          - net_price
                          - amount
                          - day
                          - is_unlimited
                          - title
                          - data
                          - short_info
                      required:
                      - id
                      - status
                      - remaining
                      - activated_at
                      - expired_at
                      - finished_at
                      - package
                      x-apidog-orders:
                      - id
                      - status
                      - remaining
                      - activated_at
                      - expired_at
                      - finished_at
                      - package
                required:
                - pricing
                - data
                x-apidog-orders:
                - pricing
                - data
              examples:
                '1':
                  summary: 'eSIM: List purchased top-up packages (history): 200 OK'
                  value:
                    pricing:
                      model: net_pricing
                      discount_percentage: 0
                    data:
                    - id: 728
                      status: ACTIVE
                      remaining: 2378
                      activated_at: '2023-01-09T10:30:45+00:00'
                      expired_at: '2023-02-09T10:30:45+00:00'
                      finished_at: null
                      package:
                        id: bonbon-mobile-30days-3gb-topup
                        type: topup
                        price: 10
                        net_price: 6
                        amount: 3072
                        day: 30
                        is_unlimited: false
                        title: 3 GB - 30 Days
                        data: 3 GB
                        short_info: null
                    - id: 725
                      status: ACTIVE
                      remaining: 2496
                      activated_at: '2023-01-09T10:30:45+00:00'
                      expired_at: '2023-02-09T10:30:45+00:00'
                      finished_at: null
                      package:
                        id: bonbon-mobile-30days-3gb-topup
                        type: topup
                        price: 10
                        net_price: 6
                        amount: 3072
                        day: 30
                        is_unlimited: false
                        title: 3 GB - 30 Days
                        data: 3 GB
                        short_info: null
                '2':
                  summary: 'eSIM: List purchased top-up packages (history): 404 (Invalid ICCID)'
                  value:
                    data: []
                    meta:
                      message: messages.resource_not_found
                '3':
                  summary: 'eSIM: List purchased top-up packages (history): 429 (Rate Limit)'
                  value:
                    message: Too Many Attempts.
          headers: {}
          x-apidog-name: 'eSIM: List purchased top-up packages (history): 200 OK'
        '429':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
                x-apidog-orders:
                - message
          headers: {}
          x-apidog-name: 'eSIM: List purchased top-up packages (history): 429 (Rate Limit)'
        'x-200:(Discount pricing) eSIM: List purchased top-up packages (history): 200 OK':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
[...]
